.wind-display {
  border-radius: 6px;
  background-color: #120D0FFC;
  position: relative;
  color: var(--g3x-color-white);
  width: 90px;
  height: 48px;

  --wind-arrows-fill: var(--g3x-color-white);
  --wind-arrows-stroke: rgba(128, 128, 128, 0.5);
  --wind-arrows-stroke-width: 1px;

  --wind-display-head-xwind-padding: 2px;
  --wind-display-head-xwind-arrows-size: 26px;
  --wind-display-head-xwind-font-size: 16px;

  --wind-display-speed-direction-padding: 4px;
  --wind-display-speed-direction-arrows-size: 24px;

  --wind-display-speed-direction-gap: 0px;
  --wind-display-speed-direction-font-size: 16px;

  --wind-no-data-font-size: 14px;
  --wind-display-units-label-font-size: 10px;
}

.wind-display-units-label {
  font-size: var(--wind-display-units-label-font-size);
}

.wind-display-head-xwind {
  position: absolute;
  padding: var(--wind-display-head-xwind-padding);
  display: grid;
  grid-template-areas: 'vectors crosswind' 'vectors headwind';
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: var(--wind-display-head-xwind-font-size);
}

.wind-display-head-xwind .numberunit-unit-small {
  font-size: var(--wind-display-units-label-font-size);
}

.wind-display-head-xwind .bearing-unit-small {
  font-size: var(--wind-display-units-label-font-size);
}

.wind-display-head-xwind-crosswind {
  grid-area: crosswind;
}

.wind-display-head-xwind-headwind {
  grid-area: headwind;
}

.wind-display-head-xwind-arrows {
  position: relative;
  width: var(--wind-display-head-xwind-arrows-size);
  height: var(--wind-display-head-xwind-arrows-size);
  grid-area: vectors;
}

.wind-display-head-xwind-stem,
.wind-display-head-xwind-arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: var(--wind-arrows-fill);
  stroke: var(--wind-arrows-stroke);
  stroke-width: var(--wind-arrows-stroke-width);
}

.wind-display-speed-direction {
  position: absolute;
  width: 100%;
  padding: var(--wind-display-speed-direction-padding);
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--wind-display-speed-direction-font-size);
  line-height: 1em;
  display: grid;
  white-space: nowrap;
  grid-template-areas: 'vector speed' 'vector direction';
  justify-items: end;
  align-items: center;
  grid-column-gap: var(--wind-display-speed-direction-gap);
}

.wind-display-speed-direction-arrow {
  width: var(--wind-display-speed-direction-arrows-size);
  height: var(--wind-display-speed-direction-arrows-size);
  fill: var(--wind-arrows-fill);
  stroke: var(--wind-arrows-stroke);
  stroke-width: var(--wind-arrows-stroke-width);
  grid-area: vector;
}

.wind-display-speed-direction-direction {
  grid-area: direction;
}

.wind-display-speed-direction-speed {
  grid-area: speed;
}

.wind-display-wind-no-data {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: var(--wind-no-data-font-size);
  text-align: center;
}