.epic2-dme-detail-page .epic2-radio-detail-options-container .radio-detail-option-wrapper {
  padding-left: 48px;
}

.epic2-dme-detail-page .epic2-radio-detail-options-container .radio-button-container {
  width: 74px;
}

.epic2-dme-detail-page .epic2-radio-detail-options-container .radio-button-wrapper-left-label {
  margin-left: 14px;
}

.epic2-dme-detail-page .epic2-radio-detail-options-container .radio-button-label {
  width: 50px;
}

epic2-pfd.right .epic2-dme-detail-page .epic2-radio-detail-options-container {
  padding-left: 36px;
}