.hsi-course-needle-active {
  /* Private vars */
  --hsi-course-needle-active-color: var(--g3x-color-green);
}

.gdu-460-display .hsi-course-needle-active {
  --hsi-course-needle-active-dot-stroke-width: 2px;

  --hsi-course-needle-active-outline-width: 1px;
  --hsi-course-needle-active-stroke-width: 2.5px;
}

.hsi-course-needle-active.hsi-course-needle-gps1,
.hsi-course-needle-active.hsi-course-needle-gps2 {
  --hsi-course-needle-active-color: var(--g3x-color-magenta);
}

.hsi-course-needle-active-closed,
.hsi-course-needle-active-open {
  display: none;
  overflow: visible;
}

.hsi-course-needle-nav1 .hsi-course-needle-active-closed,
.hsi-course-needle-gps1 .hsi-course-needle-active-closed {
  display: block;
}

.hsi-course-needle-nav2 .hsi-course-needle-active-open,
.hsi-course-needle-gps2 .hsi-course-needle-active-open {
  display: block;
}

.hsi-course-needle-active-dots {
  fill: none;
  stroke: var(--g3x-color-white);
  stroke-width: var(--hsi-course-needle-active-dot-stroke-width);
  overflow: visible;
}

.hsi-course-needle-active-tofrom {
  overflow: visible;
}

.hsi-course-needle-active-deviation {
  overflow: visible;
}

.hsi-course-needle-active-fill {
  fill: var(--hsi-course-needle-active-color);
  stroke: var(--g3x-color-black);
  stroke-width: var(--hsi-course-needle-active-outline-width);
}

.hsi-course-needle-active-open .hsi-course-needle-active-fill {
  fill: none;
  stroke: var(--hsi-course-needle-active-color);
}

.hsi-course-needle-active-open .hsi-course-needle-active-fill {
  stroke-width: var(--hsi-course-needle-active-stroke-width);
}

.hsi-course-needle-active-open .hsi-course-needle-active-outline {
  fill: none;
  stroke: var(--g3x-color-black);
  stroke-width: calc(var(--hsi-course-needle-active-stroke-width) + 2 * var(--hsi-course-needle-active-outline-width));
}