#cas .annunciations {
  position: absolute;
  top: 390px;
  right: 2px;
  width: 148px;
  height: auto;
  background-color: black;
  border: 1px solid rgb(100, 100, 100);
  font-size: 16px;
}

#cas>div {
  margin: 2px 0px 0px 2px;
}

.annunciations-divider {
  position: relative;
  width: 90%;
  height: 0px;
  border-bottom: 1px solid rgb(235, 235, 235);
  left: 5%;
  display: none;
}

.annunciation.warning {
  animation: none;
  color: red;
}

.annunciation.caution {
  animation: none;
  color: yellow;
}

.annunciation.advisory {
  animation: none;
  color: white;
}

.annunciation.safeop {
  animation: none;
  color: limegreen;
}