.aux-table-labels-nearest-ndb {
  display: flex;
  align-items: center;
  color: var(--gnscyan);
  font-size: var(--gns-font-page-title2);
}

wt-gns530 .aux-table-labels-nearest-ndb>div:nth-child(1) {
  margin-left: 1em;
}

wt-gns430 .aux-table-labels-nearest-ndb>div:nth-child(1) {
  margin-left: 1em;
}

wt-gns530 .aux-table-labels-nearest-ndb>div:nth-child(2) {
  margin-left: 5.8em;
}

wt-gns430 .aux-table-labels-nearest-ndb>div:nth-child(2) {
  margin-left: 3em;
}

wt-gns530 .aux-table-labels-nearest-ndb>div:nth-child(3) {
  margin-left: 4em;
}

wt-gns430 .aux-table-labels-nearest-ndb>div:nth-child(3) {
  margin-left: 2em;
}

wt-gns530 .aux-table-labels-nearest-ndb>div:nth-child(4) {
  margin-left: 3.8em;
}

wt-gns430 .aux-table-labels-nearest-ndb>div:nth-child(4) {
  margin-left: 2.75em;
}

wt-gns530 .nearest-ndb>.ui-control-list {
  height: 177px;
}

wt-gns430 .nearest-ndb>.ui-control-list {
  height: 129px;
}

.nearest-ndb-item {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;

  height: 22px;
  font-size: var(--gns-font-page-data);
  padding: 4px 2px 2px;
  margin-left: 2px;
  /* TODO check other aux-items */
}

wt-gns530 .nearest-ndb-item {
  line-height: 11px;
  padding-bottom: 17px;
}

wt-gns430 .nearest-ndb-item {
  padding-bottom: 22px;
}

.nearest-ndb-item-icao {
  height: 18px;
  width: 38px;
  padding-top: 1px;
}

wt-gns530 .nearest-ndb-item-icao {
  width: 47px;
  height: 14px;
  padding-top: 3px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.nearest-ndb-item-icon {
  margin-top: 2px;
}

.nearest-ndb-item-icon-img {
  position: relative;
  left: .2em;
  top: .1em;
}

.nearest-ndb-item-brg {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  width: 36px;
}

wt-gns430 .nearest-ndb-item-brg {
  width: 37px;
  margin-right: .9em;
}

wt-gns530 .nearest-ndb-item-brg {
  padding-top: 3px;
}

.nearest-ndb-item-dis {
  display: flex;
  justify-content: flex-end;
  width: 43px;
}

wt-gns530 .nearest-ndb-item-dis {
  padding-top: 3px;
}

wt-gns430 .nearest-ndb-item-dis {
  width: 44px;
}

.nearest-ndb-item-freq {
  margin-left: .5em;
}

wt-gns530 .nearest-ndb-item-freq {
  padding-top: 3px;
}