.cns-nav {
  position: relative;
}

.cns-nav-combined-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cns-button-nav {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cns-button-nav-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cns-button-nav .cns-button-nav-title {
  font-size: 16px;
  margin-top: 2px;
}

.cns-button-nav .cns-button-nav-freq {
  font-size: 27px;
  margin-top: -5px;
}

.cns-button-nav.cns-button-nav-active {
  width: 100%;
  height: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

.cns-button-nav.cns-button-nav-active .cns-button-nav-freq {
  color: var(--g3x-color-white);
}

.cns-button-nav.cns-button-nav-standby .cns-button-nav-freq {
  color: var(--g3x-color-cyan);
}

.cns-button-nav .cns-button-nav-name {
  font-size: 14px;
  margin-top: -6px;
}

.cns-button-nav-slider-background {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  fill: var(--g3x-color-gray);
}

.cns-button-nav-slider-occlude {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  fill: var(--g3x-color-green);
}

.cns-button-nav-minimized {
  width: 100%;
  height: 100%;
}

.cns-button-nav-slider-value {
  position: absolute;
  left: 5px;
  top: 20px;
  font-size: 14px;
}

.cns-button-nav-slider-vol {
  position: absolute;
  right: 7px;
  bottom: 5px;
  font-size: 14px;
}

.cns-button-nav-slider-shadow {
  box-shadow: var(--touch-button-box-shadow);
  width: 100%;
  height: 100%;
  position: absolute;
}

.cns-button-nav-minimized .cns-button-nav-title {
  font-size: 16px;
  margin-top: 1px;
  color: var(--g3x-color-white);
}

.cns-button-nav-minimized .cns-button-nav-active-freq {
  font-size: 21px;
  line-height: 16px;
  color: var(--g3x-color-white);
}

.cns-button-nav-minimized .cns-button-nav-standby-freq {
  font-size: 19px;
  margin-top: -2px;
  color: var(--g3x-color-cyan);
}

.cns-button-nav-volume-title {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 2px;
  color: var(--g3x-color-white);
}