.ui-pane-view-stack-container {
  position: relative;
  background: url("/Pages/VCockpit/Instruments/NavSystems/G3XTouchv2/Assets/Images/generic_background_tile.png");
}

.ui-pane-view-stack-container-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.ui-pane-view-stack-container-overlay {
  /* This is needed to keep the views in the overlay layer above all the views in the main layer. */
  z-index: 1000;
  /* Prevent the overlay layer container from blocking mouse events from reaching the main layer. */
  pointer-events: none;
}

.ui-pane-view-stack-container-overlay>.ui-view-wrapper {
  /* pointer-events is inherited, so we need to explicitly re-enable mouse events on views in the overlay layer. */
  pointer-events: auto;
}