.gdu-460-display .com-find-frequency-tab-user .com-find-dialog-action-button {
  width: 230px;
}

.gdu-460-display .com-find-frequency-tab-user .com-find-user-list-empty {
  position: absolute;
  top: 0;
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}
