html {
  --g3000-color-pfd-box-background: rgba(22, 22, 22, 0.75);
  --g3000-color-pfd-banner-border-color: #393f44;
}

body {
  font-family: "DejaVuSans-SemiBold";
}

#Mainframe {
  background-color: var(--g3000-color-black);
  /* This helps avoid pixels bleeding over the edge to the other side on the top and right side. */
  /* Something is wrong with the mesh that's being rendered to and this hides those issues. */
  /* Commenting this out when checking it in so that it doesn't mess up other people's measurements */
  /* padding: 4px; */
}

.pfd-boot-splash {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: var(--g3000-color-black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transform: rotateX(0deg);
}

.display-pane-container.display-pane-container-pfd {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  --display-pane-container-left-pane-width: 60%;
  --display-pane-container-right-pane-width: 40%;
}

.display-pane-container.display-pane-container-pfd-right {
  flex-direction: row-reverse;
}

.display-pane-container .display-pane.display-pane-left {
  border: none !important;
}

.display-pane-container .display-pane.display-pane-left .display-pane-title-bar {
  display: none;
}

.display-pane-container .display-pane.display-pane-left .display-pane-content {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}