.minimums-alert-container {
  position: absolute;
  top: 72px;
  left: 390px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: var(--epic2-color-amber);
  color: var(--epic2-color-amber);
}

.minimums-alert-container-span {
  opacity: 0.7;
}

.minimums-alert-container.hidden,
.minimums-alert-container-span.hidden {
  visibility: hidden;
}