.nav-status-banner {
  position: relative;
  width: 324px;
  height: 50px;

  --nav-status-banner-padding-right: 2px;
  --nav-status-banner-padding-width: 252px;
  --nav-status-banner-padding-top: 2px;
  --nav-status-banner-padding-bottom: 2px;
  --nav-status-banner-background-fill: var(--g3000-color-pfd-box-background);
  --nav-status-banner-background-stroke: var(--g3000-color-pfd-banner-border-color);

  --nav-status-banner-fields-margin-left: 25px;
  --nav-status-banner-fields-margin-right: 25px;
}

.nav-status-banner-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  fill: var(--nav-status-banner-background-fill);
  stroke: var(--nav-status-banner-background-stroke);
  stroke-width: 1px;
  stroke-linejoin: round;
  overflow: visible;
}

.nav-status-banner .nav-status {
  position: absolute;
  right: var(--nav-status-banner-padding-right);
  top: var(--nav-status-banner-padding-top);
  width: var(--nav-status-banner-padding-width);
  height: calc(100% - var(--nav-status-banner-padding-top) - var(--nav-status-banner-padding-bottom));

  --nav-status-fields-left: var(--nav-status-banner-fields-margin-left);
  --nav-status-fields-width: calc(100% - var(--nav-status-banner-fields-margin-left) - var(--nav-status-banner-fields-margin-right));
}