.dynamic-speed-bug {
  position: absolute;
  right: -6px;

  stroke: rgba(0, 0, 0, .5);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: var(--epic2-color-green);
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .5));
}
