.traffic-map-banner-standby {
  padding: 0px 2px;
  color: var(--g3000-color-yellow);
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid var(--map-indicator-border-color);
  border-radius: var(--map-indicator-border-radius);
}

.traffic-map-banner-standby.traffic-map-banner-standby-onground {
  color: var(--g3000-color-white);
}