@keyframes warning-cas-animation {
  0% {
    background: red;
    color: white;
  }

  66% {
    background: red;
    color: white;
  }

  66.1% {
    background: unset;
    color: unset;
  }

  99.9% {
    background: unset;
    color: unset;
  }
}

@keyframes caution-cas-animation {
  0% {
    background: yellow;
    color: black;
  }

  66% {
    background: yellow;
    color: black;
  }

  66.1% {
    background: unset;
    color: unset;
  }

  99.9% {
    background: unset;
    color: unset;
  }
}

.annunciation.warning.new {
  animation: warning-cas-animation 1s linear 0s infinite normal;
}

.annunciation.caution.new {
  animation: caution-cas-animation 1s linear 0s infinite normal;
}