.hsi {
  position: relative;

  --hsi-hdg-box-font-size: 1.5em;

  /* Private vars */
  --hsi-nav-color: var(--g3000-color-green);
}

.hsi.hsi-active-nav-gps {
  --hsi-nav-color: var(--g3000-color-magenta);
}

.hsi .hsi-rose {
  position: absolute;
  left: 0px;
  top: 0px;
  --hsi-rose-nav-color: var(--hsi-nav-color);
}

.hsi .hsi-map-container {
  position: absolute;
  left: 0px;
  top: 0px;
  --hsi-map-nav-color: var(--hsi-nav-color);
}

.hsi-hdgcrs-box {
  position: absolute;
  top: 26px;
  width: 86px;
  padding: 2px;
  background: var(--g3000-color-pfd-box-background);
  border-radius: 5px;
  transform: rotateX(0deg);
}

.hsi-hdgcrs-box-title {
  font-size: 0.7em;
}

.hsi-hdg-box {
  left: 4px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.hsi-hdg-box-upper {
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.hsi-hdg-box-value {
  color: var(--g3000-color-cyan);
}

.hsi-hdg-box-sync-mode {
  height: 14px;
  font-size: 0.7em;
  text-align: center;
}

.hsi-crs-box {
  left: 276px;
  height: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.hsi-crs-box-value {
  color: var(--hsi-nav-color);
}