.hsi-rose {
  position: relative;
  height: 330px;
  width: 368px;

  --hsi-rose-nav-color: var(--g3000-color-green);

  /** Private vars **/

  --hsi-rose-compass-center-x: 184px;
  --hsi-rose-compass-center-y: 184px;
}

.hsi-rose-hdg-box {
  position: absolute;
  top: -3px;
  left: 141px;
  height: 34px;
  width: 84px;
  background: var(--g3000-color-black);
  border-radius: 3px;
  border: 1px solid var(--g3000-color-white);
  font-size: var(--hsi-hdg-box-font-size);
  color: var(--g3000-color-white);
  transform: rotateX(0deg);
}

.hsi-rose-hdg-box-value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hsi-rose-index-pointer {
  position: absolute;
  left: calc(var(--hsi-rose-compass-center-x) - 16px / 2);
  top: 27px;
  width: 16px;
  height: 20px;
  fill: var(--g3000-color-white);
}

.hsi-rose .hsi-turn-rate-indicator {
  position: absolute;
  left: calc(var(--hsi-rose-compass-center-x) - 292px / 2);
  bottom: calc(100% - var(--hsi-rose-compass-center-y));
  transform: rotateX(0);
}

.hsi-rose-plane-icon {
  position: absolute;
  left: calc(var(--hsi-rose-compass-center-x) - 50px / 2);
  top: calc(var(--hsi-rose-compass-center-y) - 50px / 2);
  width: 50px;
  height: 50px;
  fill: var(--g3000-color-white);
  transform: rotateX(0);
}

.hsi-rose-rotating {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 368px;
  height: 368px;
}

.hsi-rose .hsi-compass {
  position: absolute;
  left: calc(var(--hsi-rose-compass-center-x) - 292px / 2);
  top: calc(var(--hsi-rose-compass-center-y) - 292px / 2);
  width: 292px;
  height: 292px;
}

.hsi-rose .hsi-course-needle {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.hsi-rose .hsi-bearing-pointer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.hsi-rose-bearing-pointer-circle {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--g3000-color-white);
  stroke-width: 1px;
}

.hsi-rose-hdg-bug {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  fill: var(--g3000-color-cyan);
  stroke: black;
  stroke-width: 1px;
}

.hsi-rose-track-bug {
  position: absolute;
  transform-origin: 183px 185px;
  top: 0px;
  height: 340px;
  left: 0px;
  width: 386px;
  padding-left: 12px;
  padding-top: -5px;
}

.hsi-rose-nav-source {
  position: absolute;
  left: 143px;
  top: 135px;
  transform: translateX(-50%);
  color: var(--hsi-rose-nav-color);
}

.hsi-rose-nav-sensitivity {
  position: absolute;
  left: 225px;
  top: 135px;
  transform: translateX(-50%);
  color: var(--g3000-color-magenta);
}

.hsi-rose-preview-source {
  position: absolute;
  color: #c0c0c0;
  top: 235px;
  left: 129px;
}

.hsi-rose-preview-course {
  position: absolute;
  color: #c0c0c0;
  top: 235px;
  right: 119px;
}

.hsi-rose-susp {
  position: absolute;
  text-align: center;
  color: var(--g3000-color-magenta);
  top: 235px;
  left: 207px;
}

.hsi-rose-xtk {
  position: absolute;
  left: calc(50% - 50px);
  bottom: 95px;
  width: 100px;
  color: var(--g3000-color-magenta);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.hsi-rose-xtk-title {
  font-size: 0.8em;
}

/* Fail States */

.heading-data-failed .hsi-rose .hsi-compass-labels {
  display: none;
}

.heading-data-failed .hsi-rose-track-bug {
  display: none;
}

.heading-data-failed .hsi-rose-hdg-bug {
  display: none;
}

.heading-data-failed .hsi-rose-hdg-box .failed-box {
  display: block;
}

.heading-data-failed .hsi-rose-hdg-box-value {
  display: none;
}

.heading-data-failed .hsi-rose-bearing-pointer-circle {
  display: none;
}