.map-traffic-failed {
  display: block;
  padding: 0.2em 0px;
  background: rgba(0, 0, 0, 0.75);
  border: solid 1px whitesmoke;
  border-radius: 5px;
  color: var(--amber);
  text-align: center;
  white-space: nowrap;
}

.map-traffic-failed.failed-mode-off {
  display: none;
}