.told-data-page {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.gtc-horizontal .told-data-page {
  font-size: 29px;

  --told-data-page-tabs-left: 10px;
  --told-data-page-tabs-top: 50px;
  --told-data-page-tabs-width: calc(100% - 20px);
  --told-data-page-tabs-height: calc(100% - 55px);
}

.gtc-vertical .told-data-page {
  font-size: 16px;

  --told-data-page-tabs-left: 5px;
  --told-data-page-tabs-top: 30px;
  --told-data-page-tabs-width: calc(100% - 10px);
  --told-data-page-tabs-height: calc(100% - 30px);
}

.told-data-page-tabs {
  position: absolute;
  left: var(--told-data-page-tabs-left);
  top: var(--told-data-page-tabs-top);
  width: var(--told-data-page-tabs-width);
  height: var(--told-data-page-tabs-height);
}