.told-data-page-runway {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: var(--g3000-color-white);
}

.gtc-horizontal .told-data-page-runway {
  --told-data-page-runway-left-left: 20px;
  --told-data-page-runway-left-top: 10px;
  --told-data-page-runway-left-width: 275px;
  --told-data-page-runway-left-height: 685px;

  --told-data-page-runway-origin-dest-margin-bottom: 20px;
  --told-origin-dest-display-airport-height: 100px;

  --told-data-page-runway-left-button-margin-right: 10px;
  --told-data-page-runway-left-button-height: 155px;
  --told-data-page-runway-left-button-margin-bottom: 10px;

  --told-data-page-runway-right-right: 5px;
  --told-data-page-runway-right-top: 10px;
  --told-data-page-runway-right-width: 480px;
  --told-data-page-runway-right-height: 685px;
  --told-data-page-runway-right-padding: 3px 5px;

  --told-data-page-runway-right-button-height: 130px;
  --told-data-page-runway-right-button-margin-bottom: 5px;
}

.gtc-vertical .told-data-page-runway {
  --told-data-page-runway-left-left: 10px;
  --told-data-page-runway-left-top: 5px;
  --told-data-page-runway-left-width: 125px;
  --told-data-page-runway-left-height: 360px;

  --told-data-page-runway-origin-dest-margin-bottom: 10px;
  --told-origin-dest-display-airport-height: 55px;

  --told-data-page-runway-left-button-margin-right: 4px;
  --told-data-page-runway-left-button-height: 80px;
  --told-data-page-runway-left-button-margin-bottom: 5px;

  --told-data-page-runway-right-right: 3px;
  --told-data-page-runway-right-top: 5px;
  --told-data-page-runway-right-width: 212px;
  --told-data-page-runway-right-height: 360px;
  --told-data-page-runway-right-padding: 1px 2px;

  --told-data-page-runway-right-button-height: 70px;
  --told-data-page-runway-right-button-margin-bottom: 2px;
}

.told-data-page-runway-left {
  position: absolute;
  left: var(--told-data-page-runway-left-left);
  top: var(--told-data-page-runway-left-top);
  width: var(--told-data-page-runway-left-width);
  height: var(--told-data-page-runway-left-height);

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.told-data-page-runway-left .told-origin-dest-display {
  margin-bottom: var(--told-data-page-runway-origin-dest-margin-bottom);
}

.told-data-page-runway-left-buttons {
  flex-grow: 1;
  margin-right: var(--told-data-page-runway-left-button-margin-right);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.told-data-page-runway-left-button {
  height: var(--told-data-page-runway-left-button-height);
  margin-bottom: var(--told-data-page-runway-left-button-margin-bottom);
}

.told-data-page-runway-right {
  position: absolute;
  right: var(--told-data-page-runway-right-right);
  top: var(--told-data-page-runway-right-top);
  width: var(--told-data-page-runway-right-width);
  height: var(--told-data-page-runway-right-height);
  padding: var(--told-data-page-runway-right-padding);

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.told-data-page-runway-right-button {
  height: var(--told-data-page-runway-right-button-height);
  margin-bottom: var(--told-data-page-runway-right-button-margin-bottom);

  --touch-button-value-label-center-y: 25%;
}

.told-data-page-runway-right-button .touch-button-value-value {
  font-size: 1.3em;
}

.touch-button.told-data-page-runway-right-button.touch-button-disabled {
  filter: none;
  border-bottom: 2px solid #808080;

  --touch-button-background: transparent;
  --touch-button-primed-background: transparent;
  --touch-button-highlight-background: transparent;
  --touch-button-border: 2px solid transparent;
  --touch-button-highlight-border: none;
  --touch-button-border-radius: 0px;
  --touch-button-box-shadow: none;
  --touch-button-value-value-text-color: var(--g3000-color-white);
}