.hold-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 2;
}

.flight-plan-list-section .hold-button {
  bottom: 20px;
  left: 20px;
}

.map-container .hold-button {
  bottom: 30px;
  left: 30px;
}

.hold-button .button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 114px;
  height: 48px;
  line-height: 17px;
  font-size: 20px;
}

.hold-button .touch-button {
  height: 100%;
  width: 109px;
}
