.hdk-trk-up-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hdk-trk-up-overlay .range-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hdk-trk-up-overlay .map-range-numbers {
  position: absolute;
}

.hdk-trk-up-overlay .heading-bug-arrow.heading-bug-arrow-left {
  top: 313px;
  left: 83px;
}

.hdk-trk-up-overlay .heading-bug-arrow.heading-bug-arrow-right {
  top: 313px;
  left: 581px;
}