.told-data-page-origindest {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: var(--g3000-color-white);
}

.gtc-horizontal .told-data-page-origindest {
  --told-data-page-origindest-left-left: 20px;
  --told-data-page-origindest-left-top: 30px;
  --told-data-page-origindest-left-width: 265px;
  --told-data-page-origindest-left-height: 655px;

  --told-data-page-origindest-left-button-height: 155px;

  --told-data-page-origindest-right-right: 5px;
  --told-data-page-origindest-right-top: 10px;
  --told-data-page-origindest-right-width: 480px;
  --told-data-page-origindest-right-height: 685px;
  --told-data-page-origindest-right-padding: 3px 5px;

  --told-data-page-origindest-right-button-height: 130px;
  --told-data-page-origindest-right-button-margin-bottom: 5px;

  --told-data-page-origindest-tow-label-margin: 10px 0px;
}

.gtc-vertical .told-data-page-origindest {
  --told-data-page-origindest-left-left: 10px;
  --told-data-page-origindest-left-top: 15px;
  --told-data-page-origindest-left-width: 121px;
  --told-data-page-origindest-left-height: 345px;

  --told-data-page-origindest-left-button-height: 80px;

  --told-data-page-origindest-right-right: 3px;
  --told-data-page-origindest-right-top: 5px;
  --told-data-page-origindest-right-width: 212px;
  --told-data-page-origindest-right-height: 360px;
  --told-data-page-origindest-right-padding: 1px 2px;

  --told-data-page-origindest-right-button-height: 70px;
  --told-data-page-origindest-right-button-margin-bottom: 2px;

  --told-data-page-origindest-tow-label-margin: 5px 0px;
}

.told-data-page-origindest-left {
  position: absolute;
  left: var(--told-data-page-origindest-left-left);
  top: var(--told-data-page-origindest-left-top);
  width: var(--told-data-page-origindest-left-width);
  height: var(--told-data-page-origindest-left-height);

  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.told-data-page-origindest-left-button {
  height: var(--told-data-page-origindest-left-button-height);

  --touch-button-value-label-center-y: 25%;
}

.told-data-page-origindest-left-button .touch-button-value-value {
  font-size: 1.3em;
}

.told-data-page-origindest-fpl-button {
  align-self: center;
}

.told-data-page-origindest-right {
  position: absolute;
  right: var(--told-data-page-origindest-right-right);
  top: var(--told-data-page-origindest-right-top);
  width: var(--told-data-page-origindest-right-width);
  height: var(--told-data-page-origindest-right-height);
  padding: var(--told-data-page-origindest-right-padding);

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.told-data-page-origindest-right-button {
  height: var(--told-data-page-origindest-right-button-height);
  margin-bottom: var(--told-data-page-origindest-right-button-margin-bottom);
}

.told-data-page-origindest-runway-button {
  --touch-button-value-label-center-y: 25%;
}

.told-data-page-origindest-runway-button .touch-button-value-value {
  font-size: 1.3em;
}

.told-data-page-origindest-tow-label {
  margin: var(--told-data-page-origindest-tow-label-margin);
  text-align: center;
}

.told-data-page-origindest-tow-value {
  text-align: center;
  font-size: 1.3em;
}