.eis-gauge {
  position: absolute;
  width: 149px;
  color: white;
}

.eis-gauge .warning-wrapper {
  padding-right: 1px;
  padding-left: 1px;
}

.eis-gauge div.warning>.warning-wrapper {
  animation: AlertBlink 1s infinite step-end;
}

.eis-gauge div.caution>.warning-wrapper {
  color: black;
  background: yellow;
}