#NavComBox {
  z-index: 1200 !important;
}

.mfd-page.open.sr22t-engine-page {
  left: 0;
  width: 1024px;
  z-index: 1100;
  padding-top: 56px;
}

.sr22t-engine-page-container {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 60px;
  background: linear-gradient(to bottom, rgb(4, 4, 12), rgb(24, 28, 43));
}

.sr22t-engine-page .gauge-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 3px;
  margin-right: 3px;
}