.gdu-460-display .selected-altitude-dialog {
  --selected-altitude-dialog-current-font-size: 20px;
}

.selected-altitude-dialog-input .cursor-input-inactive {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.selected-altitude-dialog-input-inactive-value-text {
  background: var(--g3x-color-cyan);
}

.touch-button.selected-altitude-dialog-current {
  position: absolute;
  left: var(--number-dialog-backspace-right);
  top: var(--number-dialog-backspace-top);
  width: var(--number-dialog-backspace-width);
  height: var(--number-dialog-backspace-height);
  font-size: var(--selected-altitude-dialog-current-font-size);
}