.minute-duration-dialog  .cursor-input-inactive {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.minute-duration-dialog-input-inactive-value-text {
  background: var(--g3000-color-cyan);
}