.epic2-com-detail-page .epic2-radio-detail-options-container .radio-detail-option-wrapper {
  padding-left: 25px;
}

.epic2-com-detail-page .epic2-radio-detail-options-container .radio-button-container {
  width: 94px;
}

.epic2-com-detail-page .epic2-radio-detail-options-container .radio-button-wrapper-left-label {
  margin-left: 0px;
}

epic2-pfd.right .epic2-com-detail-page .epic2-radio-detail-options-container {
  padding-left: 70px;
}