* {
  box-sizing: border-box;
}

/* NAV1 row */

.tsc-nav-tab-content .keyboard-button {
  height: 19px;
  width: 19px;
  position: absolute;
  right: 70px;
  top: 22px;
}

.nav-active-input-container {
  position: relative;
  height: 65px;
}

.nav-active-input-label {
  position: relative;
  top: 21px;
  left: 33px;
  color: var(--epic2-color-white);
  font-size: 30px;
  letter-spacing: 2px;
}

.nav-active-input {
  position: absolute;
  top: -2px;
  left: 148px;
  background-color: transparent;
  border: none;
  color: var(--epic2-color-amber);
  font-size: 28px;
  text-align: center;
  font-weight: bolder;
  font-family: var(--font), sans-serif;
  letter-spacing: -1px;
}

.nav-active-input.powered {
  color: var(--epic2-color-white);
}

/* STBY and Num Pad row */

.stby-number-pad-and-nav-buttons {
  display: flex;
  height: 346px;
}

.stby-and-number-pad {
  width: 50%;
  height: 100%;
}

.nav-stby-input-container {
  position: relative;
  height: 70px;
  left: 30px;
}

.nav-stby-input-container .top-label {
  font-size: 26px;
}

.nav-stby-input-container .input-field {
  display: flex;
  align-items: center;
  position: relative;
  top: 12px;
  width: 265px;
}

.nav-stby-input-container .input-field .input-row {
  padding-left: 33px;
}

.nav-stby-input-container .input-field .input-row input {
  width: 180px;
  height: 55px;
  color: var(--epic2-color-amber);
  padding-right: 10px;
  padding-top: 10px;
  font-size: 30px;
}

.nav-stby-input-container.powered .input-field .input-row input {
  color: var(--epic2-color-cyan);
}

.nav-stby-input-container .br-circle-half-circle-svg {
  position: absolute;
  top: 27px;
  left: 96px;
  width: 28px;
}

.nav-number-pad-container {
  position: relative;
  top: -3px;
  left: -1px;
}

.nav-number-pad-options-container {
  position: relative;
  top: -3px;
  width: 30%;
}

.number-pad-options-buttons {
  position: absolute;
  top: 20px;
  left: 58px;
  display: flex;
  flex-direction: column;
}

.nav-swap-button-container {
  position: relative;
  top: 341px;
  right: 13px;
}

.navigation-buttons-container {
  position: relative;
  top: -4px;
  right: 4px;
  width: 20%;
}

.navigation-buttons {
  position: absolute;
  top: 20px;
  left: 6px;
  display: flex;
  flex-direction: column;
}

.tsc-nav-tab-content .touch-button-label {
  all: unset;
  font-family: sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  paint-order: stroke;
}
