.hsi-elapsed-time {
  position: absolute;
  top: 516px;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 22px;
}

.hsi-elapsed-time.hsi-elapsed-time-side-buttons {
  top: 506px;
}

.hsi-elapsed-time .hsi-et-arrow {
  min-width: 10px;
  height: 14px;
  margin-bottom: 1px;
  margin-right: 10px;
}

.hsi-elapsed-time .hsi-et-label {
  color: var(--wt21-colors-white);
}

.hsi-elapsed-time .hsi-et-value {
  color: var(--wt21-colors-green);
  font-size: 26px;
  position: absolute;
  top: -2px;
  left: 35px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.hsi-elapsed-time.hsi-elapsed-time-side-buttons .hsi-et-value {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  line-height: 19px;
  padding-top: 6px;
  padding-left: 2px;
  margin-bottom: 5px;
  margin-left: 14px;

  background-color: var(--wt21-colors-black);
}

.hsi-elapsed-time .hsi-et-value-colon {
  margin: 0 -4px;
}