.navSourceDataField {
  position: absolute;
  top: 65px;
  white-space: nowrap;
}

.MFD .navSourceDataField {
  top: 0px;
}

.navSourceDataField.FMS {
  color: var(--wt21-colors-magenta);
}

.navSourceDataField.NAV {
  color: var(--wt21-colors-green);
}

.navSourceDataFieldLine {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navSourceDataField .line1 .source {
  font-size: 32px;
}

.navSourceDataField .line1 .frequency {
  position: absolute;
  left: 80px;
  bottom: 4px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}

.navSourceDataField .line1 .frequency .frequency-decimal {
  margin: 0 -4px;
}

.navSourceDataField .line2 .dtk-crs-label {
  font-size: 24px;
}

.navSourceDataField .line2 .dtk-crs-value {
  position: absolute;
  left: 47px;
  bottom: -4px;
  font-size: 32px;
}

.navSourceDataField .line3 {
  margin-top: -6px;
  font-size: 27px;
}

.navSourceDataField .line4 {
  display: none;
  margin-top: -9px;
  font-size: 24px;
  margin-bottom: 2px;
}

.MFD .navSourceDataField .line4 {
  display: flex;
}

.navSourceDataField .line4 .ttg-label {
  font-size: 24px;
}

.navSourceDataField .line4 .ttg-value {
  position: absolute;
  left: 40px;
  display: flex;
  flex-direction: row;
  white-space: pre;
}

.navSourceDataField .line4 .ttg-value .ttg-colon {
  margin: 0 -4px;
}

.navSourceDataField .line5 {
  margin-top: -7px;
}

.navSourceDataField .line5 .distance-value {
  display: flex;
  flex-direction: row;
  font-size: 32px;
}

.navSourceDataField .line5 .distance-value .distance-decimal {
  margin: 0 -6px;
}

.navSourceDataField .line5 .distance-unit {
  font-size: 24px;
  margin-bottom: 4px;
  margin-left: 2px;
}

.navSourceDataField .flash-off .line3,
.navSourceDataField .flash-off .line5 {
  visibility: hidden;
}