.cdi-container {
  position: absolute;
}

.map-compass-offset .cdi-container {
  top: 120px;
  left: 120px;
}

.cdi-container svg {
  overflow: visible;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .8));
}

.cdi-container svg circle {
  stroke: var(--epic2-color-white);
  stroke-width: 3px;
  fill: none;
}

.cdi-container.cdi-primary svg path {
  stroke-width: 1px;
  stroke-linejoin: round;
}

.cdi-container.cdi-preview svg path {
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cdi-container .cdi-direction-flag {
  stroke-width: 2px;
}