.check-side-buttons-arrow-wrapper {
  display: inline;

  width: 0;
  height: 0;
}

.check-side-buttons-arrow {
  position: relative;

  width: 10px;
  height: 14px;

  left: -10px;
}

.popup-menu-checkbox-right .check-side-buttons-arrow {
  left: unset;
  right: -12px;
}

.check-label {
  display: block;
}

.popup-menu-checkbox-side-button .check-label {
  margin-left: 18px;
}

.popup-menu-checkbox-side-button.popup-menu-checkbox-right .check-label {
  margin-right: 18px;
}

.check-design {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 2px 2.5px -0.5px 5.5px;
  vertical-align: -1px;
  border: 1px solid var(--wt21-colors-gray);
}

.check-design>svg {
  display: none;
}

.check-input:disabled~.check-design>.disabled-svg {
  display: block;
}

.check-input:checked~.check-design>.enabled-svg {
  display: block;
}

.popup-menu-checkbox.disabled>label>.check-design {
  border: 1px solid var(--wt21-colors-dark-gray);
}

.popup-menu-checkbox .check-input:checked~.check-text {
  color: var(--wt21-colors-cyan);
}

.popup-menu-checkbox .magenta .check-input:checked~.check-text {
  color: var(--wt21-colors-magenta);
}

.popup-menu-checkbox .magenta .enabled-svg path {
  stroke: var(--wt21-colors-magenta);
}

.popup-menu-checkbox:not(.popup-menu-checkbox-side-button) label .check-text {
  width: calc(100% - 25px);
  display: inline-flex;
  justify-content: space-between
}

.popup-menu-checkbox.popup-menu-checkbox-side-button label .check-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.popup-menu-checkbox.popup-menu-checkbox-side-button.popup-menu-checkbox-right label .check-text {
  align-items: flex-end;
}

.popup-menu-checkbox.disabled label .check-text {
  color: var(--wt21-colors-dark-gray);
}

.popup-menu-checkbox-side-button .check-text {
  flex-flow: column nowrap;
}

.check-select-value {
  padding-right: 3px;
}

.popup-menu-checkbox-side-button .check-select-value {
  padding-top: 10px;
  font-size: 30px;

  border: 2px solid transparent;
}

.popup-menu-checkbox-side-button .check-select-value.highlight {
  border: 2px solid var(--wt21-colors-cyan);
}
