.timerref-container {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 18px;
  color: whitesmoke;
  height: 185px;
}

.timerref-timer-title {
  position: absolute;
  top: 2px;
  color: rgb(150, 150, 150);
}

.timerref-ref-number {
  display: inline-block;
}

.timerref-timer-updown {
  position: absolute;
  top: 2px;
  left: 160px;
  color: cyan;
}

.timerref-timer-button {
  position: absolute;
  width: 80px;
  top: 2px;
  left: 200px;
  color: cyan;
  border: 1px solid rgb(152, 159, 174);
  border-radius: 9px;
  background: black;
  text-align: center;
}

.timerref-hr1 {
  position: absolute;
  left: -3px;
  top: 30px;
  width: 99%;
  border: 1px solid rgb(100, 100, 100);
}

.timerref-ref-container {
  position: absolute;
  left: 0px;
  top: 35px;
  width: 100%;
  height: 80px;
}

.timerref-ref-list {
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100% - 4px);
  height: 100%;
}

.timerref-ref-row {
  position: relative;
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.timerref-ref-header {
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.timerref-ref-entry {
  justify-content: flex-start;
  align-items: baseline;
}

.timerref-ref-title {
  flex-shrink: 0;
  width: 146px;
  font-size: 16px;
}

.timerref-ref-value {
  flex-shrink: 0;
  width: 60px;
  color: cyan;
  text-align: right;
}

.timerref-ref-unit {
  font-size: 14px;
}

.timerref-ref-asterisk {
  color: #fff;
  width: 9px;
  display: inline-block;
}

.timerref-ref-toggle {
  flex-grow: 1;
  max-width: 78px;
  justify-content: flex-end;
  font-size: 16px;
}

.timerref-hr2 {
  position: absolute;
  top: 120px;
  left: -3px;
  width: 99%;
  border: 1px solid rgb(100, 100, 100);
}

.timerref-mins-title {
  position: absolute;
  top: 125px;
}

.timerref-mins-toggle {
  position: absolute;
  right: 118px;
  top: 125px;
}

.timerref-mins-value {
  position: absolute;
  top: 125px;
  left: 212px;
  width: 80px;
  letter-spacing: -1px;
  text-align: right;
}

.timerref-temp-comp-container {
  position: relative;
  height: 30px;
  font-size: 16px;
  top: 155px;
  display: none;
}

.temp-comp-title {
  position: absolute;
}

.temp-comp-dest {
  position: absolute;
  left: 70px;
  letter-spacing: -1px;
}

.temp-comp-temp {
  position: absolute;
  left: 150px;
  letter-spacing: -1px;
}

.temp-comp-corrected-alt {
  position: absolute;
  left: 205px;
  letter-spacing: -1px;
}

.temp-comp-snowflake {
  position: absolute;
  display: none;
}

.timerref-updown-background {
  position: absolute;
  top: 35px;
  left: 165px;
  width: 44px;
  height: 66px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  background: rgb(50, 50, 50);
}

.timerref-updown-menu {
  position: relative;
  background: black;
  border-radius: 12px;
  width: 32px;
  top: 6px;
  left: 4px;
  height: 50px;
  padding: 5px;
}