.altimeter {
  position: relative;

  /* Button vars */

  --pfd-touch-button-border-width: 1px;

  /* Indicated alt display box vars */

  --altimeter-indicatedalt-box-border-width: 1px;

  /* Trend vector vars */

  --altimeter-trend-width: 6px;

  /* Private vars */

  --altimeter-minimums-bug-fill: var(--g3x-color-cyan);

  /* Computed vars */

  --altimeter-tape-top-border-radius: var(--altimeter-tape-bg-border-radius);
  --altimeter-tape-bottom-border-radius: var(--altimeter-tape-bg-border-radius);

  --g3x-color-pfd-tinted-background: rgba(0, 0, 0, .7);
  --g3x-color-pfd-black-inner-outline: rgb(45, 45, 45);
}

.gdu-460-display .altimeter {
  width: 100px;
  height: 336px;

  /* Top/bottom box vars */

  --altimeter-top-box-height: 30px;
  --altimeter-bottom-box-height: 30px;

  /* Selected altitude display vars */

  --altimeter-selectedalt-padding: 3px 6px 0px 4px;

  --altimeter-selectedalt-large-font-size: 26px;
  --altimeter-selectedalt-small-font-size: 19px;

  --altimeter-selectedalt-icon-width: 8px;
  --altimeter-selectedalt-icon-height: 18px;

  --altimeter-selectedalt-text-hundreds-margin-left: 1px;

  /* Baro setting display vars */

  --altimeter-baro-text-offset-y: 3px;
  --altimeter-baro-font-size: 22px;

  /* Tape vars */

  --altimeter-tape-bg-border-radius: 10px;

  --altimeter-tick-minor-width: 7px;
  --altimeter-tick-minor-stroke-width: 1px;
  --altimeter-tick-major-width: 12px;
  --altimeter-tick-major-stroke-width: 2px;

  --altimeter-tape-label-offset-y: 3px;
  --altimeter-tape-label-small-offset-y: 1px;
  --altimeter-tape-label-margin-left: 10px;
  --altimeter-tape-label-large-font-size: 26px;
  --altimeter-tape-label-small-font-size: 19px;
  --altimeter-tape-label-hundreds-margin-left: 1px;

  /* Indicated alt display box vars */

  --altimeter-indicatedalt-box-margin-left: 5px;
  --altimeter-indicatedalt-box-width: 88px;
  --altimeter-indicatedalt-box-height: 60px;
  --altimeter-indicatedalt-box-font-size: 34px;

  --altimeter-indicatedalt-box-scrollers-padding-right: 8px;

  --altimeter-indicatedalt-box-digit-container-width: 17px;
  --altimeter-indicatedalt-box-hundreds-width: 15px;
  --altimeter-indicatedalt-box-tens-width: 30px;
  --altimeter-indicatedalt-box-digit-container-height: 31px;
  --altimeter-indicatedalt-box-tens-height: 56px;

  --altimeter-indicatedalt-box-large-font-size: 34px;
  --altimeter-indicatedalt-box-small-font-size: 26px;

  --altimeter-indicatedalt-box-tens-line-height: 25px;
  --altimeter-indicatedalt-box-hundreds-offset-y: 3px;
  --altimeter-indicatedalt-box-tens-offset-y: 3px;

  --digit-scroller-line-height: 32px;
  --digit-scroller-line-offset-y: 4px;

  /* Selected altitude bug vars */

  --altimeter-selectedalt-bug-margin-left: 2px;
  --altimeter-selectedalt-bug-width: 8px;
  --altimeter-selectedalt-bug-height: 29px;

  /* Minimums bug vars */
  --altimeter-minimums-bug-margin-left: 2px;
  --altimeter-minimums-bug-width: 11px;
  --altimeter-minimums-bug-height: 37px;

  /* Failure box vars */

  --altimeter-failure-box-font-size: 24px;
  --altimeter-tape-failure-box-label-word-gap: 20px;
}

.altimeter.altimeter-top-visible {
  --altimeter-tape-top-border-radius: 0px;
}

.altimeter.altimeter-bottom-visible {
  --altimeter-tape-bottom-border-radius: 0px;
}

.altimeter.minimums-alert-within100 {
  --altimeter-minimums-bug-fill: var(--g3x-color-cyan);
}

.altimeter.minimums-alert-atorbelow {
  --altimeter-minimums-bug-fill: var(--g3x-color-yellow);
}

/* ---- Top container displays ---- */

.altimeter-top-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: var(--altimeter-top-box-height);
  transform: rotateX(0deg);
}

.altimeter-selectedalt-button {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;

  --pfd-touch-button-border-radius: var(--altimeter-tape-bg-border-radius) var(--altimeter-tape-bg-border-radius) 0px 0px;
}

.altimeter-selectedalt-button .touch-button-label {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: unset;
  text-align: unset;
  white-space: unset;
}

.altimeter-selectedalt-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: var(--altimeter-selectedalt-padding);
  color: var(--altimeter-selected-alt-base-color);
  fill: var(--altimeter-selected-alt-base-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  --altimeter-selected-alt-base-color: var(--g3x-color-cyan);
}

.touch-button-primed .altimeter-selectedalt-container {
  --altimeter-selected-alt-base-color: var(--g3x-color-black);
}

.altimeter-selectedalt-container.alt-alert-deviation {
  color: var(--g3x-color-yellow);
  fill: var(--g3x-color-yellow);
}

@keyframes alt-alert-within1000-flash {
  0% {
    color: var(--g3x-color-cyan);
    fill: var(--g3x-color-cyan);
  }

  50% {
    color: var(--g3x-color-cyan);
    fill: var(--g3x-color-cyan);
  }

  100% {
    color: transparent;
    fill: transparent;
  }
}

@keyframes alt-alert-within200-flash {
  0% {
    color: var(--g3x-color-cyan);
    fill: var(--g3x-color-cyan);
  }

  50% {
    color: var(--g3x-color-cyan);
    fill: var(--g3x-color-cyan);
  }

  100% {
    color: transparent;
    fill: transparent;
  }
}

@keyframes alt-alert-deviation-flash {
  0% {
    color: var(--g3x-color-yellow);
    fill: var(--g3x-color-yellow);
  }

  50% {
    color: var(--g3x-color-yellow);
    fill: var(--g3x-color-yellow);
  }

  100% {
    color: transparent;
    fill: transparent;
  }
}

.altimeter-selectedalt-container.alt-alert-within1000-flash {
  animation: alt-alert-within1000-flash 1s infinite;
}

.altimeter-selectedalt-container.alt-alert-within200-flash {
  animation: alt-alert-within200-flash 1s infinite;
}

.altimeter-selectedalt-container.alt-alert-deviation-flash {
  animation: alt-alert-deviation-flash 1s infinite;
}

.altimeter-selectedalt-icon {
  width: var(--altimeter-selectedalt-icon-width);
  height: var(--altimeter-selectedalt-icon-height);
}

.altimeter-selectedalt-text {
  font-size: var(--altimeter-selectedalt-large-font-size);
}

.altimeter-selectedalt-text-hundreds {
  margin-left: var(--altimeter-selectedalt-text-hundreds-margin-left);
  font-size: var(--altimeter-selectedalt-small-font-size);
}

.altimeter-selectedalt-text-units {
  font-size: 0.5em;
}

/* ---- Bottom container displays ---- */

.altimeter-bottom-container {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: var(--altimeter-bottom-box-height);
  transform: rotateX(0deg);
}

.altimeter-baro-button {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;

  --pfd-touch-button-border-radius: 0px 0px var(--altimeter-tape-bg-border-radius) var(--altimeter-tape-bg-border-radius);
}

.altimeter-baro-button .touch-button-label {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: unset;
  text-align: unset;
  white-space: unset;
}

.altimeter-baro-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  color: var(--g3x-color-white);
  font-size: var(--altimeter-baro-font-size);
}

.touch-button-primed .altimeter-baro-container {
  color: var(--g3x-color-black);
}

.altimeter-baro-setting-value,
.altimeter-baro-std {
  position: absolute;
  left: 50%;
  top: calc(50% + var(--altimeter-baro-text-offset-y));
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.altimeter-baro-setting-value .numberunit-unit-small {
  margin-left: 1px;
  letter-spacing: 1px;
}

/* ---- Altimeter tape ---- */

.altimeter-tape-container {
  position: absolute;
  left: 0%;
  top: var(--altimeter-top-box-height);
  width: 100%;
  height: calc(100% - var(--altimeter-top-box-height) - var(--altimeter-bottom-box-height));
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--altimeter-tape-top-border-radius) var(--altimeter-tape-top-border-radius) var(--altimeter-tape-bottom-border-radius) var(--altimeter-tape-bottom-border-radius);
}

.altimeter-tape-window {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border-top: 1px transparent;
  border-bottom: 1px transparent;
}

.altimeter-tape {
  position: absolute;
  bottom: 50%;
  width: 100%;
}

.altimeter-tape-tick-minor-container {
  position: absolute;
  left: 0%;
  width: var(--altimeter-tick-minor-width);
  height: 100%;
  stroke: #c0c0c0;
  stroke-width: var(--altimeter-tick-minor-stroke-width);
}

.altimeter-tape-tick-major-container {
  position: absolute;
  left: 0%;
  width: var(--altimeter-tick-major-width);
  height: 100%;
  stroke: #c0c0c0;
  stroke-width: var(--altimeter-tick-major-stroke-width);
}

.altimeter-tape-label-container {
  position: absolute;
  --altimeter-tape-label-container-left: calc(var(--altimeter-tick-major-width) + var(--altimeter-tape-label-margin-left));
  left: var(--altimeter-tape-label-container-left);
  width: calc(100% - var(--altimeter-tape-label-container-left));
  height: 100%;
  color: var(--g3x-color-white);
  text-align: right;
}

.altimeter-tape-label {
  margin-top: var(--altimeter-tape-label-offset-y);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.altimeter-tape-label-thousands {
  font-size: var(--altimeter-tape-label-large-font-size);
}

.altimeter-tape-label-hundreds {
  margin-top: var(--altimeter-tape-label-small-offset-y);
  margin-left: var(--altimeter-tape-label-hundreds-margin-left);
  font-size: var(--altimeter-tape-label-small-font-size);
}

.altimeter-tape-overflow {
  background: rgba(30, 30, 30, 0.5);
}

.altimeter-indicatedalt-box {
  position: absolute;
  left: var(--altimeter-indicatedalt-box-margin-left);
  top: 50%;
  width: var(--altimeter-indicatedalt-box-width);
  height: var(--altimeter-indicatedalt-box-height);
  transform: translateY(-50%);
  color: var(--g3x-color-white);
}

.altimeter-indicatedalt-box-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  fill: var(--g3x-color-black);
  stroke: #505050;
  stroke-width: var(--altimeter-indicatedalt-box-border-width);
  overflow: visible;
}

.altimeter-indicatedalt-box-scrollers {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.altimeter-indicatedalt-box-digit-container {
  position: relative;
  width: var(--altimeter-indicatedalt-box-digit-container-width);
  height: var(--altimeter-indicatedalt-box-digit-container-height);
  font-size: var(--altimeter-indicatedalt-box-large-font-size);
  overflow: hidden;
}

.altimeter-indicatedalt-box-digit-container.altimeter-indicatedalt-box-hundreds {
  width: var(--altimeter-indicatedalt-box-hundreds-width);
  font-size: var(--altimeter-indicatedalt-box-small-font-size);

  --digit-scroller-line-offset-y: var(--altimeter-indicatedalt-box-hundreds-offset-y);
}

.altimeter-indicatedalt-box-digit-container.altimeter-indicatedalt-box-tens {
  width: var(--altimeter-indicatedalt-box-tens-width);
  height: var(--altimeter-indicatedalt-box-tens-height);
  font-size: var(--altimeter-indicatedalt-box-small-font-size);

  --digit-scroller-line-height: var(--altimeter-indicatedalt-box-tens-line-height);
  --digit-scroller-line-offset-y: var(--altimeter-indicatedalt-box-tens-offset-y);
}

.altimeter-indicatedalt-box-digit-container .digit-scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.altimeter-indicatedalt-box-negative-sign {
  position: absolute;
  left: 0;
  top: calc(50% + var(--digit-scroller-line-offset-y));
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.altimeter-indicatedalt-box-scroller-mask {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 95%);
}

.altimeter-selectedalt-bug {
  left: var(--altimeter-selectedalt-bug-margin-left);
  width: var(--altimeter-selectedalt-bug-width);
  height: var(--altimeter-selectedalt-bug-height);
}

.altimeter-selectedalt-bug-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--g3x-color-cyan);
  stroke: var(--g3x-color-black);
  stroke-width: 1px;
  overflow: visible;
}

.altimeter-minimums-bug {
  left: var(--altimeter-minimums-bug-margin-left);
  width: var(--altimeter-minimums-bug-width);
  height: var(--altimeter-minimums-bug-height);
}

.altimeter-minimums-bug-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--altimeter-minimums-bug-fill);
  stroke: var(--g3x-color-black);
  stroke-width: 1px;
  overflow: visible;
}

.altimeter-trend {
  left: 0%;
  width: var(--altimeter-trend-width);
  background: var(--g3x-color-magenta);
  border: 1px solid var(--g3x-color-white);
}

/* ---- Failed state ---- */

.data-failed .altimeter-tape-label-container {
  display: none;
}

.altimeter-tape-failure-box {
  position: absolute;
  left: 0%;
  top: var(--altimeter-top-box-height);
  width: 100%;
  height: calc(100% - var(--altimeter-top-box-height) - var(--altimeter-bottom-box-height));
  line-height: 0.9em;
  font-size: var(--altimeter-failure-box-font-size);
}

.altimeter-tape-failure-box .failure-box-label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.altimeter-tape-failure-box-label-word-1 {
  margin-right: var(--altimeter-tape-failure-box-label-word-gap);
}