.digital-altitude {
  position: absolute;
  right: 0;
  top: 151px;
  height: 62px;
  width: 90px;
}

.digital-altitude-background {
  position: absolute;
  right: 0;
  top: 0;

  stroke: var(--epic2-color-grey);
  stroke-width: 2px;
  fill: var(--epic2-color-black);
  paint-order: fill;
}

.digital-altitude-background .shadow {
  stroke: var(--epic2-color-black);
  stroke-width: 3px;
  stroke-opacity: 0.5;
  fill: none;
}

.digital-altitude-tumblers {
  position: absolute;
  right: 0;
  top: 1px;

  color: var(--epic2-color-white);
  font-size: 22px;
}

.alt-digit-scroller {
  overflow: hidden;
  position: absolute;
  width: 18px;
}

.alt-ten-thousands-scroller,
.alt-thousands-scroller,
.alt-hundreds-scroller {
  top: 12px;
  height: 36px;
  font-size: 34px;

  --digit-scroller-line-offset-y: 4px;
  --digit-scroller-line-height: 0.9em;
}

.alt-ten-thousands-scroller {
  right: 57px;
}

.alt-thousands-scroller {
  right: 41px;
}
.alt-hundreds-scroller {
  right: 25px;
}

.alt-tens-scroller {
  height: 56px;
  font-size: 24px;
  width: 24px;
  right: 2px;
  top: 2px;

  --digit-scroller-line-offset-y: 4.7px;
  --digit-scroller-line-height: 1.2em;
}

.alt-below-10k-indicator {
  position: absolute;
  top: 16px;
  right: 61px;
}
