html {
  --touch-button-set-value-label-center-y: 45%;
  --touch-button-set-value-bar-center-y: 90%;
  --touch-button-set-value-bar-width: 50%;

  --touch-button-set-value-bar-disable-filter: brightness(50%);
}

.gdu-460-display {
  --touch-button-set-value-bar-height: 8px;
}

.gdu-470-display {
  --touch-button-set-value-bar-height: 8px;
}

.touch-button-set-value {
  --toggle-status-bar-border-radius: calc(var(--touch-button-set-value-bar-height) / 2);
}

.touch-button-set-value>.touch-button-label {
  top: var(--touch-button-set-value-label-center-y);
}

.touch-button-set-value-status-bar {
  position: absolute;
  left: calc(50% - var(--touch-button-set-value-bar-width) / 2);
  top: calc(var(--touch-button-set-value-bar-center-y) - var(--touch-button-set-value-bar-height) / 2);
  width: var(--touch-button-set-value-bar-width);
  height: var(--touch-button-set-value-bar-height);
}

.touch-button-set-value.touch-button-disabled>.touch-button-set-value-status-bar {
  filter: var(--touch-button-set-value-bar-disable-filter);
}