.radio-volume-shortcut-popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 24px;
}

.radio-volume-shortcut-popup-nav {
  right: 80px;
}

.radio-volume-shortcut-popup-com {
  right: 5px;
}

.radio-volume-shortcut-popup-title {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: var(--ui-view-title-font-size);
}

.radio-volume-shortcut-popup-controls {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.radio-volume-shortcut-popup-slider {
  width: 242px;
  height: 80px;
  font-size: 20px;

  --touch-slider-slider-container-border-color: var(--ui-slider-focused-border-color);
}

.radio-volume-shortcut-popup-slider .touch-slider-slider-container::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: var(--ui-slider-focused-inner-border-width) var(--ui-slider-focused-inner-border-style) var(--ui-slider-focused-border-color);
}

.radio-volume-shortcut-popup-slider .touch-slider-slider-background {
  background: var(--g3x-color-disabled-gray);
}

.radio-volume-shortcut-popup-slider .touch-slider-slider-foreground {
  background: linear-gradient(to right, #25811b, #46f232);
}

.radio-volume-shortcut-popup-slider-occlude {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: var(--g3x-color-black);
}

.radio-volume-shortcut-popup-slider-label {
  position: absolute;
  left: 4px;
  top: 2px;
}

.radio-volume-shortcut-popup-slider-vol-label {
  position: absolute;
  right: 4px;
  bottom: 2px;
  text-shadow: 0 0 4px black;
}

.radio-volume-shortcut-popup-slider-failure-box {
  width: 242px;
  height: 80px;
  font-size: 20px;
}

.radio-volume-shortcut-squelch-button {
  margin-left: 20px;
  width: 120px;
  height: 80px;
  font-size: 19px;
}