.radio-volume-shortcut-popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 24px;
}

.radio-volume-shortcut-popup-nav {
  right: 80px;
}

.radio-volume-shortcut-popup-com {
  right: 5px;
}

.radio-volume-shortcut-popup-controls {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.radio-volume-shortcut-popup-title {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: var(--ui-view-title-font-size);
}

.radio-volume-shortcut-popup .touch-slider-slider-container {
  border: 4px;
  border-style: solid;
  border-color: var(--touch-button-border-color);
  border-radius: 2px;
}

.radio-volume-shortcut-popup-slider-occlude {
  fill: white;
}

.radio-volume-shortcut-popup .radio-volume-shortcut-popup-slider {
  width: 242px;
  height: 80px;
}

.radio-volume-shortcut-popup .touch-slider-disabled .radio-volume-shortcut-popup-slider-label {
  filter: grayscale(50%) brightness(40%);
}

.radio-volume-shortcut-popup-slider-label {
  font-size: 24px;
  position: absolute;
  left: 4px;
  top: 2px;
}

.radio-volume-shortcut-popup-slider-vol-label {
  font-size: 24px;
  position: absolute;
  right: 4px;
  bottom: 2px;
}

.radio-volume-shortcut-popup .touch-slider-slider-container {
  margin: var(--touch-slider-slider-container-margin);
  background: var(--g3x-color-black);
}

.radio-volume-shortcut-popup .touch-slider-slider-foreground {
  background-size: cover;
}

.radio-volume-shortcut-popup .touch-slider-slider-foreground {
  background-color: var(--g3x-color-white);
  background-size: cover;
}

.radio-volume-shortcut-popup-slider-occlude {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: var(--g3x-color-black);
}

.radio-volume-shortcut-popup-slider-background {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: var(--g3x-color-gray);
}

.pfd-radio-squelch-button {
  margin-left: 20px;
  width: 120px;
  height: 80px;
  font-size: 19px;
}
