.roll-scale-stroke {
  stroke: var(--g3x-color-white);
  stroke-width: 2px;
}

.roll-scale-fill {
  fill: var(--g3x-color-white);
}

.roll-scale-ref-pointer {
  stroke: var(--g3x-color-gray);
  stroke-width: 0.1px;
}

.roll-indicator-fill {
  fill: var(--g3x-color-white);
}

.roll-scale-standard-rate-triangle {
  fill: var(--g3x-color-green);
  stroke: var(--g3x-color-black);
  stroke-width: 0.5px;
}

.roll-indicator-pointer {
  stroke: var(--g3x-color-gray);
  stroke-width: 0.1px;
}

.roll-indicator-low-bank-arc {
  stroke: var(--g3x-color-green);
  stroke-width: 4px;
}