.input-field {
  width: fit-content;
  padding: 1px 2px 2px 2px;
  border-radius: 1px;
  font-size: 22px;
  margin: 3px 0px;
}

.input-field.input-field-disabled {
  pointer-events: none;
}

.input-field.highlight,
.input-field:hover {
  box-shadow: 0px 0px 0px 2px var(--epic2-color-cyan);
}

.input-field:hover .input-box-wheel {
  opacity: 1;
}

.input-field.input-active .input-box-wheel {
  opacity: 0;
  pointer-events: none;
}

.input-field.input-active {
  box-shadow: 0px 0px 0px 2px var(--epic2-color-white);
}

.input-field.input-capturing, .input-field.input-active.input-capturing {
  box-shadow: 0px 0px 0px 2px #FC44FC;
}

.input-field .top-label {
  height: 22px;
}


.input-field .input-row {
  display: flex;
}

/* .input-field .input-row .input-box {} */

.input-field .input-row .suffix-label {
  margin-left: 3px;
  margin-top: 3px;
  height: 22px;
}

.input-field.input-field-disabled .top-label,
.input-field.input-field-disabled .prefix-label,
.input-field.input-field-disabled .suffix-label {
  color: var(--touch-button-disabled-color);
  -webkit-text-stroke-width: 0;
}

.input-text-align-center .input-box {
  text-align: center;
}

.input-text-align-right .input-box {
  text-align: right;
}

.input-text-color-green .input-box {
  --input-box-color: var(--epic2-color-green);
}
