.aileron-trim-gauge {
  width: 112px;
  height: 15px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.aileron-trim-gauge .green {
  stroke: var(--g3x-color-green);
}

.aileron-trim-gauge .white {
  stroke: var(--g3x-color-white);
}

.aileron-trim-gauge .left-label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-right: 4px;
}

.aileron-trim-gauge .right-label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-left: 4px;
}

.aileron-trim-gauge .body {
  width: 100%;
  height: 100%;
  position: relative;
  flex-grow: 1;
}

.aileron-trim-gauge .body .container {
  position: absolute;
}

.aileron-trim-gauge .body .ruler-frame {
  position: absolute;
  overflow: visible;
}

.aileron-trim-gauge .body .value-marker {
  position: absolute;
  bottom: 2px;
  transform: translate(-50%, 0);
  overflow: visible;
}