.airspeed-tick-marks {
  position: absolute;
  top: 0;
  left: 9%;
}

.airspeed-tick-marks>svg {
  height: 405px;
  width: 89px;
}

.airspeed {
  transform: rotateX(0);
  position: absolute;
  height: 100%;
  width: 100%;
}

.airspeed-mask {
  transform: rotateX(0);
  position: absolute;
  left: 9%;
  height: 100%;
  width: 57%;
  background-color: var(--wt21-colors-translucent-background);
}

.flc-bug,
.airspeed-bug,
.flap-bug,
.donut-bug,
.speedrange {
  position: absolute;
  transform: rotateX(0);
}

.flc-bug {
  top: 45.7%;
  right: 7%;
}

.airspeed-bug,
.flap-bug {
  left: 66%;
  top: 47.5%;
}

.airspeed-bug>svg>line {
  stroke: var(--wt21-colors-magenta)
}

.airspeed-bug>svg>text {
  fill: var(--wt21-colors-magenta)
}

.airspeed-bug.modified>svg>line {
  stroke: var(--wt21-colors-cyan)
}

.airspeed-bug.modified>svg>text {
  fill: var(--wt21-colors-cyan)
}

.donut-bug {
  left: 54%;
  top: 45.7%;
}

.vspeed-values-container {
  position: relative;
  margin-top: -17px;
  margin-left: 12px;
  line-height: 1.1
}

.vspeed-value {
  font-size: 30px;
  color: var(--wt21-colors-magenta);
  text-shadow: var(--wt21-fonts-shadow-light);
}

.vspeed-value .name {
  font-size: 23px;
  margin-left: 2px;
}

.vspeed-value .value {
  font-size: 25px;
  margin-left: 8px;
  display: inline-block;
  width: 39px;
  text-align: right
}

.vspeed-value.modified {
  color: var(--wt21-colors-cyan)
}

.airspeed-trend-vector {
  position: absolute;
  top: 0%;
  left: 9%;
  height: 100%;
  overflow: hidden;
}

.airspeed-trend-vector {
  left: unset;
  right: -6px;
}

.ias-box {
  position: absolute;
  top: 39.5%;
  left: -5%;
  border: none;
  fill: none;
  --speedNumberColor: var(--wt21-colors-white);
}

.scroller-background {
  position: absolute;
  top: 17px;
  width: 17px;
  text-align: center;
  overflow: hidden;
}

.scroller-background svg {
  height: 500px
}

.yellow.ias-box text,
.yellow .mach-value {
  fill: var(--wt21-colors-amber);
  color: var(--wt21-colors-amber);
}

.red.ias-box text,
.red .mach-value {
  fill: var(--wt21-colors-red);
  color: var(--wt21-colors-red);
}

.blinking.ias-box>div>svg,
.blinking .mach-value {
  animation: ias-blink 1.0s step-start;
  animation-iteration-count: 5;
}

@keyframes ias-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hundreds-scroller {
  position: absolute;
  left: 14px;
  height: 35px;
  padding-top: 1px;
}

.tens-scroller {
  position: absolute;
  left: 34px;
  height: 35px;
  padding-top: 1px;
  padding-bottom: 5px;
}

.ones-scroller {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 54px;
  height: 57px;
}

.speedrange {
  height: 1984px;
  left: 66.5%;
  top: 50.2%
}

.speedrange.red {
  background: var(--wt21-colors-red);
  border: 2px solid var(--wt21-colors-red);
  width: 8px;
}

.speedrange.red.emphasized {
  background: transparent;
  background-image: linear-gradient(0deg, transparent 50%, var(--wt21-colors-red) 50%);
  background-size: 40px 40px;
  width: 15px;
}

.speedrange.yellow {
  background: var(--wt21-colors-amber);
  border: 2px solid transparent;
  width: 1px;
  display: none;
}

.speedrange.yellow.emphasized {
  background: transparent;
  border-left: 2px solid var(--wt21-colors-amber);
  border-right: 2px solid var(--wt21-colors-amber);
}

.airspeed-box .fail-box {
  top: 45.5%;
  left: 29%;
}

.fail .airspeed,
.fail .spd-select-box,
.fail .mach-box,
.warn .airspeed,
.warn .mach-box,
.warn .spd-select-box {
  display: none;
}
