.alt-select-box {
  position: absolute;
  overflow: hidden;
  top: 12%;
  right: 10.4%;
  width: 12.5%;
  height: 7.6%;
}

.alt-select-box.metric {
  top: 14%;
  width: 11.1%;
  height: 5.6%;
}

.preselect-value {
  margin-right: 5%;
  margin-top: 2%;
  text-align: right;
  color: var(--wt21-colors-cyan);
  font-size: 36px;
}

.alt-select-box.metric .preselect-value {
  margin-top: -10%;
}

.preselect-tens {
  margin-left: 3%;
  font-size: 25px;
}

.preselect-unit {
  display: none;
}

.alt-select-box.metric .preselect-unit {
  display: inline;
}

.thousand-flash {
  animation: flasher .5s step-start 10;
}

.deviation-flash {
  animation: flasher .5s step-start infinite;
  color: var(--wt21-colors-yellow);
}


@keyframes flasher {

  50% {
    opacity: 0;
  }
}
