.units-setup-view {
  color: var(--g3x-color-white);
  background: var(--g3x-color-black);

  --ui-list-select-button-label-height: 0px;
}

.gdu-460-display .units-setup-view {
  font-size: 21px;

  --ui-list-select-button-dropdown-width: 50px;

  --units-setup-view-list-margin: 0px 2px 0px 13px;

  --units-setup-view-list-item-padding: 7px 9px;
  --units-setup-view-list-item-column-gap: 5px;
}

.gdu-460-display .ui-pane-full .units-setup-view {
  --units-setup-view-row-right-width: 368px;
}

.gdu-460-display .ui-pane-half .units-setup-view {
  --units-setup-view-row-right-width: 285px;
}

.units-setup-view-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.units-setup-view-list {
  margin: var(--units-setup-view-list-margin);
}

.units-setup-view-list .touch-button.ui-list-item-button {
  padding: var(--units-setup-view-list-item-padding);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr var(--units-setup-view-row-right-width);
  grid-column-gap: var(--units-setup-view-list-item-column-gap);
  justify-items: stretch;
  align-items: stretch;
}

.units-setup-view-row-left {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.gdu-460-display .units-setup-view-select-list {
  --ui-list-dialog-width: 285px;
  --ui-list-dialog-padding: 3px;
  --ui-list-dialog-font-size: 21px;
}