.sr22t-gs-background {
  position: absolute;
  left: 63px;
  top: 444px;
  width: 87px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.83);
  display: flex;
  align-items: center;
  border-radius: 5px;
  z-index: 20;
}

.sr22t-gs-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "DejaVuSans-SemiBold";
}

.sr22t-gs-line .title {
  margin: 2px;
  padding-top: 3px;
  font-size: 9.6px;
}

.sr22t-gs-line .value-block {
  display: flex;
  align-items: baseline;
  margin: 2px;
}

.sr22t-gs-line .value {
  padding-right: 1px;
  font-size: 16px;
}

.sr22t-gs-line .unit {
  font-size: 10.7px;
}