.sr22t-weightbalance-page {
  width: 100%;
  height: 100%;
  padding-top: 56px;
  font-size: 60px;
  background: rgb(32, 32, 32);
}

.sr22t-weightbalance-page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.sr22t-weightbalance-page .sr22t-system-page-section-title {
  background: rgb(32, 32, 32);
}

.sr22t-weightbalance-page .sr22t-system-page-section-content {
  display: flex;
  color: rgb(6, 7, 8);
  padding: 0 6px 0 8px;
}

.sr22t-weightbalance-page .sr22t-system-page-section-content .wb-display-field {
  display: flex;
  flex-direction: row;
  font-size: inherit;
  height: 26px;
}

.sr22t-weightbalance-page .sr22t-system-page-section-content .wb-display-field-title,
.sr22t-weightbalance-page .sr22t-system-page-section-content .wb-display-field-value,
.sr22t-weightbalance-page .sr22t-system-page-section-content .wb-display-field-unit {
  height: max-content;
  margin-top: auto;
}

.sr22t-weightbalance-page .sr22t-system-page-section-content .wb-display-field-title {
  flex-grow: 1;
  font-size: 16px;
  color: lightgray;
}

.sr22t-weightbalance-page .sr22t-system-page-section-content .wb-display-field-value {
  flex-grow: 0;
  font-size: 18px;
  color: white;
}

.sr22t-weightbalance-page .sr22t-system-page-section-content .wb-display-field-unit {
  flex-grow: 0;
  font-size: 13px;
  color: white;
}

.sr22t-system-page-section.sr22t-wb-page-station-vs-weight {
  position: absolute;
  top: 23px;
  left: 23px;
  width: 489px;
  height: 353px;
}

.sr22t-system-page-section.sr22t-wb-page-aircraft-wb {
  position: absolute;
  top: 389px;
  left: 23px;
  width: 489px;
  height: 166px;
}

.sr22t-system-page-section.sr22t-wb-page-estimated-weight {
  position: absolute;
  top: 570px;
  left: 23px;
  width: 489px;
  height: 76px;
}

.sr22t-system-page-section.sr22t-wb-page-aircraft-load {
  position: absolute;
  top: 23px;
  left: 526px;
  width: 323px;
  height: 623px;

  /* Aircraft Image */
  background-image: url("coui://SimObjects/Airplanes/Asobo_SR22/panel/Instruments/G1000/Plugins/Assets/Images/aircraft_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sr22t-wb-page-station-vs-weight .sr22t-system-page-section-title {
  width: 125px;
}

.sr22t-wb-page-aircraft-wb .sr22t-system-page-section-title {
  width: 198px;
}

.sr22t-wb-page-estimated-weight .sr22t-system-page-section-title {
  width: 125px;
}

.sr22t-wb-page-aircraft-load .sr22t-system-page-section-title {
  width: 92px;
}

.sr22t-system-page-section-content .wb-page-section-column-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.sr22t-system-page-section-content .wb-page-section-column-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-left: 3px;
}