@keyframes FlashYellow {

  5%,
  45% {
    color: var(--g3000-color-yellow);
    background-color: var(--g3000-color-pfd-box-background);
  }

  55%,
  100% {
    color: var(--g3000-color-black);
    background-color: var(--g3000-color-yellow);
  }
}

@keyframes FlashRed {

  0%,
  45% {
    color: var(--g3000-color-red);
    ;
    background-color: var(--g3000-color-pfd-box-background);
  }

  55%,
  100% {
    color: var(--g3000-color-white);
    background-color: var(--g3000-color-red);
  }
}

.cas-container {
  background-color: var(--g3000-color-black);
  border: 1px solid var(--g3000-color-border-gray);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.cas-display {
  margin: 0px 1px;
  display: block;
}

.cas-message-count {
  margin: 0px 2px;
  border-top: 1px solid var(--g3000-color-border-gray);
  display: block;
  text-align: center;
}

.cas-message-count>span {
  padding-left: 5px;
  padding-right: 5px;
}

.cas-message-count-header.caution {
  color: var(--g3000-color-yellow);
}

.cas-message-count-header.warning {
  color: var(--g3000-color-red);
}

.annunciation.warning {
  color: var(--g3000-color-red);
}

.annunciation.warning.new {
  animation: FlashRed 1s infinite;
}

.annunciation.caution {
  color: var(--g3000-color-yellow);
}

.annunciation.caution.new {
  animation: FlashYellow 1s infinite;
}

.annunciation.advisory {
  color: var(--g3000-color-white);
}

.annunciation.safeop {
  color: var(--g3000-color-green);
}