.hsi-rose {
  position: absolute;
  /* According to reference photos, the rose is just slightly above the center of the HSI */
  top: -6px;
  left: 0;
  right: 0;
  margin: auto;
  width: var(--center-width);
  height: 100%;
  transform: rotateX(0);
}

.hsi-rose-rotating {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.hsi-rose-range-text-inner {
  font-size: var(--hsi-range-text-font-size);
  color: var(--wt21-colors-white);
  position: absolute;
  top: 41.45%;
  left: 26.25%;
  width: 10%;
  text-align: center;
}