.map-rel-terrain-status {
  padding: 0.2em;
  background-color: rgba(0, 0, 0, 0.75);
  border: solid 1px var(--map-indicator-border-color);
  border-radius: var(--map-indicator-border-radius);
}

.map-rel-terrain-status-icon-container {
  position: relative;
  width: var(--map-rel-terrain-status-icon-width, 1.3em);
  height: var(--map-rel-terrain-status-icon-height, 1.2em);
}

.map-rel-terrain-status-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.map-rel-terrain-status-failed {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.map-rel-terrain-status-failed-cross {
  fill: transparent;
}

.map-rel-terrain-status-failed-cross-outline {
  stroke-width: 20;
  stroke: var(--g3000-color-black);
}

.map-rel-terrain-status-failed-cross-stroke {
  stroke-width: 15;
  stroke: var(--g3000-color-white);
}