.map-traffic-status {
  padding: 0.2em;
  background-color: rgba(0, 0, 0, 0.75);
  border: solid 1px var(--map-indicator-border-color);
  border-radius: var(--map-indicator-border-radius);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--g3000-color-white);
}

.traffic-status-alt {
  margin-right: 0.5em;
}

.traffic-status-symbol {
  width: 1.8em;
  height: 1.2em;
  fill: var(--g3000-color-white);
}

.traffic-status-disabledcross {
  fill: transparent;
}

.traffic-status-disabledcross-outline {
  stroke-width: 20;
  stroke: var(--g3000-color-black);
}

.traffic-status-disabledcross-stroke {
  stroke-width: 15;
  stroke: var(--g3000-color-white);
}