.flight-director-dual-cue-pitch {
  box-sizing: content-box;
  width: 344px;
  height: 4px;
}

.flight-director-dual-cue-bank {
  box-sizing: content-box;
  width: 4px;
  height: 224px;
}

.flight-director-dual-cue-bar {
  background: var(--g3000-color-magenta);
}

.flight-director-dual-cue-outline {
  border: solid 1px var(--g3000-color-black);
}