.touch-button.pfd-map-inset {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: solid 3px var(--g3x-color-border-light-gray) !important;
  border-radius: 3px;
  background: var(--g3x-color-black) !important;
  box-shadow: none !important;
  color: var(--g3x-color-white);
}

.pfd-map-inset-nav-map {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: rotateX(0deg);
  overflow: hidden;
}

.pfd-map-inset-nav-map .map-minicompass {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 72px;
  height: 72px;
  font-size: 14px;
}

.pfd-map-inset-nav-map .map-minicompass-arrow {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.pfd-map-inset-nav-map .map-range-target-control {
  margin-bottom: 2px;
}

.pfd-inset-container-left .pfd-map-inset-nav-map .map-range-target-control {
  margin-right: 2px;
}

.pfd-map-inset-nav-map .map-indicator-group-top-right {
  position: absolute;
  right: 0px;
  top: 2px;
}

.pfd-map-inset-nav-map .map-status-indicator-container {
  max-width: 60px;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-start;
}

.pfd-map-inset-nav-map .map-indicator-group-bottom-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.pfd-map-inset-nav-map .map-terrainscale {
  width: 69px;
  font-size: 12px;
}

.pfd-map-inset-nav-map .map-indicator-group-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.pfd-map-inset-nav-map .map-scale-bar-detail-container {
  margin: 0px 8px 1px 0px;
}

.pfd-map-inset-nav-map .map-scale-bar {
  margin: 0px 0px 9px 0px;
  font-size: 16px;
}

.pfd-map-inset-nav-map .map-detail {
  margin: -9px 0px 0px 0px;
  font-size: 13px;
}