.aoa {
  position: relative;
  width: 88px;
  height: 80px;
  background: var(--g3000-color-pfd-box-background);
  border-radius: 7px;
  color: var(--g3000-color-white);
  overflow: hidden;

  --aoa-gauge-label-font-size: 12px;
  --aoa-needle-color: var(--g3000-color-white);
}

.aoa-simple {
  --aoa-gauge-left: 5px;
  --aoa-gauge-top: 4px;
  --aoa-gauge-scale-width: 140px;
  --aoa-gauge-scale-height: 140px;
}

.aoa-advanced {
  --aoa-gauge-left: 4px;
  --aoa-gauge-top: 0px;
  --aoa-gauge-scale-width: 80px;
  --aoa-gauge-scale-height: 80px;
}

.aoa.aoa-red {
  --aoa-needle-color: var(--g3000-color-red);
}

.aoa.aoa-yellow {
  --aoa-needle-color: var(--g3000-color-yellow);
}

.aoa-gauge {
  position: absolute;
  left: var(--aoa-gauge-left);
  top: var(--aoa-gauge-top);
  width: var(--aoa-gauge-scale-width);
  height: var(--aoa-gauge-scale-height);
}

.aoa-gauge-scale {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.aoa-gauge-arc {
  fill: none;
}

.aoa-gauge-arc-white {
  stroke: var(--g3000-color-white);
}

.aoa-gauge-arc-yellow {
  stroke: var(--g3000-color-yellow);
}

.aoa-gauge-arc-red {
  stroke: var(--g3000-color-red);
}

.aoa-gauge-tick-white {
  stroke: var(--g3000-color-white);
}

.aoa-gauge-tick-yellow {
  stroke: var(--g3000-color-yellow);
}

.aoa-gauge-tick-red {
  stroke: var(--g3000-color-red);
}

.aoa-gauge-label {
  font-size: var(--aoa-gauge-label-font-size);
  fill: var(--g3000-color-white);
}

.aoa-gauge-needle {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  fill: var(--aoa-needle-color);
  stroke: var(--g3000-color-black);
}

.aoa-simple .aoa-label {
  position: absolute;
  right: 5px;
  top: 40px;
}

.aoa-advanced .aoa-label {
  position: absolute;
  left: 4px;
  top: 24px;
}