.vdi {
  position: relative;

  /* Private vars */
  --vdi-limit-indicator-color: var(--g3x-color-white);
}

.gdu-460-display .vdi {
  width: 20px;
  height: 220px;
  font-size: 19px;

  /* General vars */

  --vdi-border-radius: 5px;

  /* Label vars */

  --vdi-label-container-height: 20px;

  /* Scale vars */

  --vdi-scale-dot-size: 9px;

  /* Bug vars */

  --vdi-vnav-bug-width: 16px;
  --vdi-vnav-bug-height: 24px;

  --vdi-diamond-bug-width: 16px;
  --vdi-diamond-bug-height: 16px;

  /* Limit indicator vars */

  --vdi-limit-indicator-left-margin: 1px;
  --vdi-limit-indicator-width: 3px;
}

.vdi.vdi-vnav {
  --vdi-label-color: var(--g3x-color-magenta);
}

.vdi.vdi-gp {
  --vdi-label-color: var(--g3x-color-magenta);
}

.vdi.vdi-gp.vdi-gp-preview {
  --vdi-label-color: #b3b3b3;
}

.vdi.vdi-gs {
  --vdi-label-color: var(--g3x-color-green);
}

.vdi.vdi-gs.vdi-gs-preview {
  --vdi-label-color: #b3b3b3;
}

.vdi.vdi-gp-outside-limits {
  --vdi-limit-indicator-color: var(--g3x-color-yellow);
}

.vdi-label-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: var(--vdi-label-container-height);
  background: rgba(0, 0, 0, 0.8);
  border-top-left-radius: var(--vdi-border-radius);
}

.vdi-label {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0.85em;
  transform: translate(-50%, -50%);
  color: var(--vdi-label-color);
  font-size: var(--vdi-label-font-size);
}

.vdi-scale {
  position: absolute;
  left: 0%;
  top: var(--vdi-label-container-height);
  width: 100%;
  height: calc(100% - var(--vdi-label-container-height));
  background: rgba(0, 0, 0, 0.55);
  border-bottom-left-radius: var(--vdi-border-radius);
}

.vdi-scale-dot {
  width: var(--vdi-scale-dot-size);
  height: var(--vdi-scale-dot-size);
  fill: none;
  stroke: var(--g3x-color-white);
  stroke-width: 1px;
  overflow: visible;
}

.vdi-scale-center {
  background: var(--g3x-color-white);
  height: 1px;
}

.vdi-vnav-bug {
  left: calc(50% - var(--vdi-vnav-bug-width) / 2);
  width: var(--vdi-vnav-bug-width);
  height: var(--vdi-vnav-bug-height);
}

.vdi-vnav-bug-icon {
  fill: var(--g3x-color-magenta);
  stroke: var(--g3x-color-black);
  stroke-width: 1px;
  overflow: visible;
}

.vdi-gp-bug {
  left: calc(50% - var(--vdi-diamond-bug-width) / 2);
  width: var(--vdi-diamond-bug-width);
  height: var(--vdi-diamond-bug-height);
}

.vdi-gp-bug-icon {
  fill: var(--g3x-color-magenta);
  stroke: var(--g3x-color-black);
  stroke-width: 1px;
  overflow: visible;
}

.vdi-gp-outside-limits .vdi-gp-bug-icon {
  fill: var(--g3x-color-yellow);
}

.vdi.vdi-gp-preview .vdi-gp-bug-icon {
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 2px;
}

.vdi-gs-bug {
  left: calc(50% - var(--vdi-diamond-bug-width) / 2);
  width: var(--vdi-diamond-bug-width);
  height: var(--vdi-diamond-bug-height);
}

.vdi-gs-bug-icon {
  fill: var(--g3x-color-green);
  stroke: var(--g3x-color-black);
  stroke-width: 1px;
  overflow: visible;
}

.vdi.vdi-gs-preview .vdi-gs-bug-icon {
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 2px;
}

.vdi-no-signal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: pre;
}

.vdi-limit-indicator {
  left: var(--vdi-limit-indicator-left-margin);
  width: var(--vdi-limit-indicator-width);
  background: var(--vdi-limit-indicator-color);
}