.nav-dme-info-banner {
  position: relative;

  --nav-dme-info-banner-padding-left: 2px;
  --nav-dme-info-banner-padding-top: 2px;
  --nav-dme-info-banner-padding-bottom: 2px;
  --nav-dme-info-banner-background-fill: var(--g3000-color-pfd-box-background);
  --nav-dme-info-banner-background-stroke: var(--g3000-color-pfd-banner-border-color);
}

.nav-dme-info-banner-upper {
  width: 201px;
  height: 50px;

  --nav-dme-info-banner-padding-right: 29px;
}

.nav-dme-info-banner-lower {
  width: 352px;
  height: 50px;

  --nav-dme-info-banner-padding-right: 180px;
}

.nav-dme-info-banner-lower-softkey {
  width: 241px;
  height: 50px;

  --nav-dme-info-banner-padding-right: 69px;
}

.nav-dme-info-banner-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  fill: var(--nav-dme-info-banner-background-fill);
  stroke: var(--nav-dme-info-banner-background-stroke);
  stroke-width: 1px;
  stroke-linejoin: round;
  overflow: visible;
}

.nav-dme-info-banner .nav-dme-info {
  position: absolute;
  left: var(--nav-dme-info-banner-padding-left);
  top: var(--nav-dme-info-banner-padding-top);
  width: calc(100% - var(--nav-dme-info-banner-padding-left) - var(--nav-dme-info-banner-padding-right));
  height: calc(100% - var(--nav-dme-info-banner-padding-top) - var(--nav-dme-info-banner-padding-bottom));

  --nav-dme-info-source-width: 40px;
  --nav-dme-info-freq-width: 70px;
}