.pfd-alert {
  position: absolute;
  left: 144px;
  top: 384px;
  padding: 5px 3px 0 3px;
  line-height: 0.8em;
  font-size: 24px;
  background: var(--epic2-color-red);
  color: var(--epic2-color-white);
}
