.wpt-dialog {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--g3x-color-white);
}

.gdu-460-display .wpt-dialog {
  flex-shrink: 1;
  width: 650px;
  margin: auto 0px 25px;
  padding: 0px 6px 6px;

  --wpt-dialog-title-margin: 2px 0px 4px;
  --wpt-dialog-title-font-size: 27px;

  --wpt-dialog-top-row-height: 80px;

  --wpt-dialog-find-width: 82px;
  --wpt-dialog-backspace-width: 96px;

  --wpt-dialog-input-container-margin: 0px 17px;
  --wpt-dialog-input-container-row-gap: 8px;

  --wpt-dialog-input-box-height: 40px;
  --wpt-dialog-input-box-padding: 0px 6px 0px 2px;

  --wpt-dialog-input-font-size: 27px;

  --wpt-dialog-input-icon-scale: 1;

  --wpt-dialog-key-grid-margin: 6px 0px;
  --wpt-dialog-key-grid-row-height: 80px;
  --wpt-dialog-key-grid-row-gap: 4px;
  --wpt-dialog-key-grid-column-gap: 4px;

  --wpt-dialog-key-font-size: 38px;

  --wpt-dialog-bottom-row-button-width: 120px;
  --wpt-dialog-bottom-row-button-height: 80px;
}

.wpt-dialog-title {
  margin: var(--wpt-dialog-title-margin);
  font-size: var(--wpt-dialog-title-font-size);
  text-align: center;
}

.wpt-dialog-top-row {
  height: var(--wpt-dialog-top-row-height);
  display: flex;
  flex: row nowrap;
  align-items: stretch;
}

.wpt-dialog-find {
  flex-shrink: 0;
  --ui-nav-button-width: var(--wpt-dialog-find-width);
}

.wpt-dialog-backspace {
  flex-shrink: 0;
  --ui-nav-button-width: var(--wpt-dialog-backspace-width);
}

.wpt-dialog-input-container {
  flex-grow: 1;
  position: relative;
  margin: var(--wpt-dialog-input-container-margin);
  font-size: var(--wpt-dialog-input-font-size);
  display: grid;
  grid-template-rows: var(--wpt-dialog-input-box-height) 1fr;
  grid-template-columns: 100%;
  grid-row-gap: var(--wpt-dialog-input-container-row-gap);
  justify-items: stretch;
  align-items: stretch;
}

.wpt-dialog-input-box {
  padding: var(--wpt-dialog-input-box-padding);
  background: var(--cursor-input-background);
  border-radius: var(--cursor-input-border-radius);
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.cursor-input.wpt-dialog-input {
  flex-grow: 1;
  background: none;
  border-radius: 0px;
  color: var(--g3x-color-cyan);
}

.wpt-dialog-input.cursor-input-edit-inactive {
  color: var(--g3x-color-black);
}

.wpt-dialog-input .cursor-input-inactive {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.wpt-dialog-input-inactive-value-text-highlight {
  background: var(--g3x-color-cyan);
}

.wpt-dialog-input-slot-autocomplete .cursor-input-slot-character.cursor-input-slot-character-empty {
  color: var(--g3x-color-black);
  animation: none;
}

.wpt-dialog-input-icon {
  align-self: center;
  transform: scale(var(--wpt-dialog-input-icon-scale));
  transform-origin: 100% 50%;
}

.wpt-dialog-input-label {
  white-space: nowrap;
  overflow: hidden;
}

.wpt-dialog-key-grid {
  position: relative;
  margin: var(--wpt-dialog-key-grid-margin);
  padding: 0px var(--wpt-dialog-key-grid-column-gap);
  font-size: var(--wpt-dialog-key-font-size);
  display: grid;
  grid-template-rows: repeat(5, var(--wpt-dialog-key-grid-row-height));
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: var(--wpt-dialog-key-grid-row-gap);
  grid-column-gap: var(--wpt-dialog-key-grid-column-gap);
}

.wpt-dialog-key-wide {
  grid-column: span 2;
}

.wpt-dialog-key.numpad-touch-button {
  align-self: center;
  /*
   * CSS hack to force square dimensions on the button. Fortunately for us the grid cells always have greater height
   * than width, so setting width to 100% won't make the button overflow its cell.
   */
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.wpt-dialog-bottom-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}