.gtc-nav-com-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  /* Needs to be above the title bar */
  z-index: 250;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#487183 0%, #B1C0C9 100%);
}