.airspeed {
  /* Top/bottom box vars */

  --airspeed-top-box-height: 32px;
  --airspeed-bottom-box-height: 32px;

  --airspeed-refspeed-font-size: 0.8em;
  --airspeed-refspeed-bg: rgba(0, 0, 0, 0.8);
  --airspeed-refspeed-icon-margin-left: 6px;
  --airspeed-refspeed-icon-width: 8px;
  --airspeed-refspeed-icon-height: 16px;

  --airspeed-alert-font-size: 0.8em;
  --airspeed-alert-border-radius: 3px;

  --airspeed-bottom-speed-display-bg: rgba(0, 0, 0, 0.8);

  --airspeed-tas-display-font-size: 0.8em;
  --airspeed-tas-display-title-font-size: 0.6em;

  --airspeed-mach-display-font-size: 0.8em;

  --airspeed-vspeed-annunciation-font-size: 0.8em;

  /* Tape vars */

  --airspeed-tape-bg: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  --airspeed-tape-bg-border-radius: 10px;
  --airspeed-tape-top-border-color: #646464;
  --airspeed-tape-bottom-border-color: #2c2c2c;

  --airspeed-tick-minor-width: 12%;
  --airspeed-tick-minor-stroke-width: 2px;
  --airspeed-tick-major-width: 24%;
  --airspeed-tick-major-stroke-width: 2px;

  --airspeed-tape-label-margin-right: 0.5em;
  --airspeed-tape-label-font-size: 1em;

  --airspeed-tape-overflow-background: rgba(30, 30, 30, 0.5);

  /* IAS display box vars */

  --airspeed-ias-box-margin-right: 0%;
  --airspeed-ias-box-height: 2.4em;
  --airspeed-ias-box-font-size: 1.25em;
  --airspeed-ias-box-border-width: 1px;

  /* Color range vars */

  --airspeed-tape-color-range-full-width: 12%;
  --airspeed-tape-color-range-half-width: 6%;

  /* Reference speed bug vars */

  --airspeed-refspeed-bug-manual-right: 0px;
  --airspeed-refspeed-bug-manual-height: calc(var(--airspeed-ias-box-font-size) * 0.8);
  --airspeed-refspeed-bug-manual-width: calc(var(--airspeed-ias-box-margin-right) + (100% - var(--airspeed-ias-box-margin-right)) * 0.16);
  --airspeed-refspeed-bug-manual-fill: var(--g3000-color-cyan);
  --airspeed-refspeed-bug-manual-stroke: #505050;

  --airspeed-refspeed-bug-fms-right: calc(var(--airspeed-ias-box-margin-right) + (100% - var(--airspeed-ias-box-margin-right)) * 0.0444);
  --airspeed-refspeed-bug-fms-height: calc(var(--airspeed-ias-box-font-size) * 0.55);
  --airspeed-refspeed-bug-fms-width: calc((100% - var(--airspeed-ias-box-margin-right)) * 0.15);
  --airspeed-refspeed-bug-fms-fill: var(--g3000-color-magenta);
  --airspeed-refspeed-bug-fms-stroke: #505050;

  /* Trend vector vars */

  --airspeed-trend-width: 6px;

  /* Reference V-speed bug vars */

  --airspeed-vspeed-bug-icon-height: 1.1em;
  --airspeed-vspeed-bug-icon-font-size: 0.6em;
  --airspeed-vspeed-bug-icon-color: var(--g3000-color-cyan);
  --airspeed-vspeed-bug-icon-bg-color: var(--g3000-color-black);

  --airspeed-vspeed-bug-container-width-factor: 0.6;
  --airspeed-vspeed-bug-margin-left: 4px;

  --airspeed-vspeed-offscale-container-height: 50%;
  --airspeed-vspeed-offscale-label-margin-bottom: 4px;
  --airspeed-vspeed-offscale-label-margin-right: 8px;
  --airspeed-vspeed-offscale-label-font-size: 0.8em;

  --airspeed-vspeed-legend-container-width-factor: 0.85;
  --airspeed-vspeed-legend-container-padding: 3px 1px 3px 2px;
  --airspeed-vspeed-legend-margin-bottom: 2px;
  --airspeed-vspeed-legend-font-size: 0.7em;

  /* Computed vars */

  --airspeed-tape-topleft-border-radius: var(--airspeed-tape-bg-border-radius);
  --airspeed-tape-bottomleft-border-radius: var(--airspeed-tape-bg-border-radius);

  --airspeed-tape-top-border: 1px solid var(--airspeed-tape-top-border-color);
  --airspeed-tape-bottom-border: 1px solid var(--airspeed-tape-bottom-border-color);

  --airspeed-tape-top-border-actual: var(--airspeed-tape-top-border);
  --airspeed-tape-bottom-border-actual: var(--airspeed-tape-bottom-border);
}

.airspeed.airspeed-reference-visible {
  --airspeed-tape-topleft-border-radius: 0px;
  --airspeed-tape-top-border-actual: none;
}

.airspeed.airspeed-bottom-display-visible {
  --airspeed-tape-bottomleft-border-radius: 0px;
  --airspeed-tape-bottom-border-actual: none;
}

/* ---- Top container displays ---- */

.airspeed-top-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: var(--airspeed-top-box-height);
  transform: rotateX(0deg);
}

.airspeed-refspeed-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--airspeed-refspeed-bg);
  border-radius: var(--airspeed-tape-bg-border-radius) 0 0 0;
  border: var(--airspeed-tape-top-border);
  border-bottom: none;
}

.airspeed-refspeed-container-manual {
  --airspeed-refspeed-container-text-color: var(--g3000-color-cyan);
}

.airspeed-refspeed-container-fms {
  --airspeed-refspeed-container-text-color: var(--g3000-color-magenta);
}

.airspeed-refspeed-icon {
  position: absolute;
  left: var(--airspeed-refspeed-icon-margin-left);
  top: calc(50% - var(--airspeed-refspeed-icon-height) / 2);
  width: var(--airspeed-refspeed-icon-width);
  height: var(--airspeed-refspeed-icon-height);
}

.airspeed-refspeed-icon-manual {
  fill: var(--airspeed-refspeed-bug-manual-fill);
}

.airspeed-refspeed-icon-fms {
  fill: var(--airspeed-refspeed-bug-fms-fill);
}

.airspeed-refspeed-text {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  color: var(--airspeed-refspeed-container-text-color);
  font-size: var(--airspeed-refspeed-font-size);
  white-space: nowrap;
}

.airspeed-refspeed-ias,
.airspeed-refspeed-mach {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes airspeed-alert-flash {
  0% {
    background: var(--g3000-color-yellow);
    color: var(--g3000-color-black);
  }

  75% {
    background: var(--g3000-color-black);
    color: var(--g3000-color-yellow);
  }
}

.airspeed-protection-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: var(--airspeed-alert-border-radius);
  animation: airspeed-alert-flash 1s infinite step-end;
}

.airspeed-protection-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--airspeed-alert-font-size);
}

.airspeed-bottom-container {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: var(--airspeed-bottom-box-height);
  transform: rotateX(0deg);
  --airspeed-bottom-speed-display-bg-actual: var(--airspeed-bottom-speed-display-bg);
  --airspeed-bottom-speed-display-color: var(--g3000-color-white);
}

.airspeed-alert-overspeed .airspeed-bottom-container,
.airspeed-alert-underspeed .airspeed-bottom-container {
  --airspeed-bottom-speed-display-bg-actual: var(--g3000-color-red);
}

.airspeed-alert-trend-overspeed .airspeed-bottom-container,
.airspeed-alert-trend-underspeed .airspeed-bottom-container {
  --airspeed-bottom-speed-display-color: var(--g3000-color-yellow);
}

/* ---- Bottom container displays ---- */

.airspeed-bottom-display {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--airspeed-bottom-speed-display-bg-actual);
  border-radius: 0 0 0 var(--airspeed-tape-bg-border-radius);
  border: var(--airspeed-tape-bottom-border);
  border-top: none;
  color: var(--airspeed-bottom-speed-display-color);
}

.airspeed-tas-display {
  font-size: var(--airspeed-tas-display-font-size);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.airspeed-tas-display-title {
  margin-left: 1px;
  font-size: var(--airspeed-tas-display-title-font-size);
}

.airspeed-tas-display-value {
  margin-right: 1px;
}

.airspeed-mach-display {
  font-size: var(--airspeed-mach-display-font-size);
}

.airspeed-mach-display-value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.airspeed-vspeed-annunciation {
  font-size: var(--airspeed-vspeed-annunciation-font-size);
}

.airspeed-vspeed-annunciation-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 2px;
  border-radius: 5px;
  color: var(--g3000-color-black);
  letter-spacing: -1px;
}

.airspeed-vspeed-annunciation-takeoff .airspeed-vspeed-annunciation-box {
  background: var(--g3000-color-yellow);
}

.airspeed-vspeed-annunciation-landing .airspeed-vspeed-annunciation-box {
  background: var(--g3000-color-white);
}

/* ---- Airspeed tape ---- */

.airspeed-tape-container {
  position: absolute;
  left: 0%;
  top: var(--airspeed-top-box-height);
  width: 100%;
  height: calc(100% - var(--airspeed-top-box-height) - var(--airspeed-bottom-box-height));
  background: var(--airspeed-tape-bg);
  border-radius: var(--airspeed-tape-topleft-border-radius) 0 0 var(--airspeed-tape-bottomleft-border-radius);
}

.airspeed-tape-border-top {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 50%;
  border-radius: var(--airspeed-tape-topleft-border-radius) 0 0 0;
  border: var(--airspeed-tape-top-border);
  border-top: var(--airspeed-tape-top-border-actual);
  border-bottom: none;
}

.airspeed-tape-border-bottom {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 50%;
  border-radius: 0 0 0 var(--airspeed-tape-bottomleft-border-radius);
  border: var(--airspeed-tape-bottom-border);
  border-bottom: var(--airspeed-tape-bottom-border-actual);
  border-top: none;
}

.airspeed-tape-window {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) var(--airspeed-tape-bg-border-radius), var(--airspeed-tape-top-border-color) calc(var(--airspeed-tape-bg-border-radius) + 1px), var(--airspeed-tape-bottom-border-color) calc(100% - var(--airspeed-tape-bg-border-radius) - 1px), rgba(0, 0, 0, 0) calc(100% - var(--airspeed-tape-bg-border-radius))) 1 100%;
  border-width: 1px;
  border-top: 1px none;
  border-bottom: 1px none;
}

.airspeed-tape {
  position: absolute;
  bottom: 50%;
  width: 100%;
}

.airspeed-tape-tick-minor-container {
  position: absolute;
  right: 0%;
  width: var(--airspeed-tick-minor-width);
  height: 100%;
  stroke: var(--g3000-color-white);
  stroke-width: var(--airspeed-tick-minor-stroke-width);
}

.airspeed-tape-tick-major-container {
  position: absolute;
  right: 0%;
  width: var(--airspeed-tick-major-width);
  height: 100%;
  stroke: var(--g3000-color-white);
  stroke-width: var(--airspeed-tick-major-stroke-width);
}

.airspeed-tape-label-container {
  position: absolute;
  --airspeed-tape-label-container-right: calc(var(--airspeed-tick-major-width) + var(--airspeed-tape-label-margin-right));
  right: var(--airspeed-tape-label-container-right);
  width: calc(100% - var(--airspeed-tape-label-container-right));
  height: 100%;
  font-size: var(--airspeed-tape-label-font-size);
  color: var(--g3000-color-white);
  text-align: right;
}

.airspeed-tape-overflow {
  background: var(--airspeed-tape-overflow-background);
}

.airspeed-ias-box {
  position: absolute;
  right: var(--airspeed-ias-box-margin-right);
  width: calc(100% - var(--airspeed-ias-box-margin-right));
  top: 50%;
  height: var(--airspeed-ias-box-height);
  transform: translateY(-50%);
  font-size: var(--airspeed-ias-box-font-size);
  color: var(--g3000-color-white);
  --airspeed-ias-box-fill: var(--g3000-color-black);
  --airspeed-ias-box-stroke: var(--g3000-color-white);
  --airspeed-ias-box-bg: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgb(30, 30, 30), rgba(0, 0, 0, 1.0));
  --airspeed-ias-box-scroller-mask-bg: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 95%);
}

.airspeed-alert-overspeed .airspeed-ias-box,
.airspeed-alert-underspeed .airspeed-ias-box {
  --airspeed-ias-box-fill: var(--g3000-color-red);
  --airspeed-ias-box-stroke: var(--g3000-color-red);
  --airspeed-ias-box-bg: var(--g3000-color-red);
  --airspeed-ias-box-scroller-mask-bg: transparent;
}

.airspeed-alert-trend-overspeed .airspeed-ias-box,
.airspeed-alert-trend-underspeed .airspeed-ias-box {
  color: var(--g3000-color-yellow);
  --airspeed-ias-box-bg: var(--g3000-color-black);
  --airspeed-ias-box-scroller-mask-bg: transparent;
}

.airspeed-ias-box-bg {
  width: 100%;
  height: 100%;
  fill: var(--airspeed-ias-box-fill);
  stroke: var(--airspeed-ias-box-stroke);
  stroke-width: var(--airspeed-ias-box-border-width);
}

.airspeed-ias-box-scrollers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.airspeed-ias-box-digit-container {
  position: relative;
  width: calc(33% - 2px);
  height: calc(100% - 2 * var(--airspeed-ias-box-border-width));
  margin: 0 1px;
  overflow: hidden;
}

.airspeed-ias-box-digit-container.airspeed-ias-box-hundreds,
.airspeed-ias-box-digit-container.airspeed-ias-box-tens {
  height: calc(60% - 2 * var(--airspeed-ias-box-border-width));
}

.airspeed-ias-box-digit-container .digit-scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.airspeed-ias-box-digit-bg {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--airspeed-ias-box-bg);
}

.airspeed-ias-box-scroller-mask {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  background: var(--airspeed-ias-box-scroller-mask-bg);
}

.airspeed-tape-color-range {
  right: 0%;
}

.airspeed-tape-color-range-full {
  width: var(--airspeed-tape-color-range-full-width);
}

.airspeed-tape-color-range-half {
  width: var(--airspeed-tape-color-range-half-width);
}

.airspeed-tape-color-range-red {
  background: var(--g3000-color-red);
}

.airspeed-tape-color-range-white {
  background: var(--g3000-color-white);
}

.airspeed-tape-color-range-green {
  background: var(--g3000-color-dark-green);
}

.airspeed-tape-color-range-yellow {
  background: var(--g3000-color-yellow);
}

.airspeed-tape-color-range-barber-pole {
  background: repeating-linear-gradient(135deg, var(--g3000-color-red), var(--g3000-color-red) 6px, var(--g3000-color-white) 6px, var(--g3000-color-white) 12px);
}

.airspeed-refspeed-bug-manual {
  right: var(--airspeed-refspeed-bug-manual-right);
  width: var(--airspeed-refspeed-bug-manual-width);
  height: var(--airspeed-refspeed-bug-manual-height);
}

.airspeed-refspeed-bug-fms {
  right: var(--airspeed-refspeed-bug-fms-right);
  width: var(--airspeed-refspeed-bug-fms-width);
  height: var(--airspeed-refspeed-bug-fms-height);
}

.airspeed-refspeed-bug-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  stroke-width: 1px;
}

.airspeed-refspeed-bug-icon-manual {
  fill: var(--airspeed-refspeed-bug-manual-fill);
  stroke: var(--airspeed-refspeed-bug-manual-stroke);
}

.airspeed-refspeed-bug-icon-fms {
  fill: var(--airspeed-refspeed-bug-fms-fill);
  stroke: var(--airspeed-refspeed-bug-fms-stroke);
}

.airspeed-trend {
  left: 100%;
  width: var(--airspeed-trend-width);
  background: var(--g3000-color-magenta);
  border: 1px solid var(--g3000-color-white);
}

/* ---- V-speed bugs ---- */

.airspeed-vspeed-fms {
  --airspeed-vspeed-bug-icon-color: var(--g3000-color-magenta);
}

.airspeed-vspeed-bug-icon {
  height: var(--airspeed-vspeed-bug-icon-height);
  font-size: var(--airspeed-vspeed-bug-icon-font-size);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transform: rotateX(0deg);
}

.airspeed-vspeed-bug-icon-arrow {
  height: 100%;
  width: 0.5em;
  fill: var(--airspeed-vspeed-bug-icon-bg-color);
}

.airspeed-vspeed-bug-icon-label {
  background: var(--airspeed-vspeed-bug-icon-bg-color);
  color: var(--airspeed-vspeed-bug-icon-color);
  padding-right: 2px;
  white-space: pre;
}

.airspeed-vspeed-bug-container {
  left: 100%;
  width: calc(100% * var(--airspeed-vspeed-bug-container-width-factor));
}

.airspeed-vspeed-bug {
  left: var(--airspeed-vspeed-bug-margin-left);
}

.airspeed-vspeed-offscale-container {
  left: 0;
  width: calc(100% * (1 + var(--airspeed-vspeed-bug-container-width-factor)));
  height: var(--airspeed-vspeed-offscale-container-height);
  align-items: stretch;
}

.airspeed-vspeed-offscale-label {
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: calc(100% * 1 / (1 + var(--airspeed-vspeed-bug-container-width-factor))) 1fr;
  align-items: center;
  margin-bottom: var(--airspeed-vspeed-offscale-label-margin-bottom);

  --airspeed-vspeed-offscale-label-color: var(--airspeed-vspeed-bug-icon-color);
}

.airspeed-vspeed-offscale-label.airspeed-vspeed-fms.airspeed-vspeed-fms-config-miscompare {
  --airspeed-vspeed-offscale-label-color: var(--g3000-color-yellow);
}

.airspeed-vspeed-offscale-label-value {
  justify-self: end;
  margin-right: var(--airspeed-vspeed-offscale-label-margin-right);
  font-size: var(--airspeed-vspeed-offscale-label-font-size);
  color: var(--airspeed-vspeed-offscale-label-color);
}

.airspeed-vspeed-offscale-label .airspeed-vspeed-bug-icon {
  justify-self: start;
  margin-left: var(--airspeed-vspeed-bug-margin-left);
}

.airspeed-vspeed-legend-container {
  left: 0;
  width: calc(100% * var(--airspeed-vspeed-legend-container-width-factor));
  padding: var(--airspeed-vspeed-legend-container-padding);
  border-radius: 0 0 0 var(--airspeed-tape-bottomleft-border-radius);
  background: var(--g3000-color-black);
  align-items: stretch;
}

.airspeed-vspeed-legend {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: var(--airspeed-vspeed-legend-margin-bottom);
  font-size: var(--airspeed-vspeed-legend-font-size);

  --airspeed-vspeed-legend-value-color: var(--airspeed-vspeed-bug-icon-color);
}

.airspeed-vspeed-legend.airspeed-vspeed-fms.airspeed-vspeed-fms-config-miscompare {
  --airspeed-vspeed-legend-value-color: var(--g3000-color-yellow);
}

.airspeed-vspeed-legend-name {
  color: var(--airspeed-vspeed-bug-icon-color);
}

.airspeed-vspeed-legend-value {
  color: var(--airspeed-vspeed-legend-value-color);
}

/* ---- Failed state ---- */

.airspeed .failed-box {
  position: absolute;
  left: 0%;
  top: var(--airspeed-top-box-height);
  width: 100%;
  height: calc(100% - var(--airspeed-top-box-height) - var(--airspeed-bottom-box-height));
}

.airspeed.data-failed .failed-box {
  display: block;
}

.data-failed .airspeed-tape-label-container {
  display: none;
}