.pfd-instruments {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--g3x-color-black);
  font-family: "G3X-Mono-Regular";

  --pfd-instruments-horizon-center-x: 50%;
  --pfd-instruments-horizon-center-y: 197px;
}

/*
 * The layout of the airspeed and altimeter tapes is such that they want to be placed so that the distance from their
 * inner edges to the center of the horizon projection is 200px, but will move "inward" to always maintain a 6px margin
 * from the edge of the pane (in the case of the altimeter tape, the margin is measured from the outer edge of the
 * VSI). Because Coherent doesn't support any of the min/max/clamp functions, we are forced to do some hard-coding of
 * coordinates below.
 */

.pfd-instruments {
  /* The x-coordinate of the inner edge of the left (airspeed) tape. */
  --pfd-instruments-tape-left-inner-x: calc(var(--pfd-instruments-horizon-center-x) - 200px);
  /* The x-coordinate of the inner edge of the right (altimeter) tape. */
  --pfd-instruments-tape-right-inner-x: calc(var(--pfd-instruments-horizon-center-x) + 200px);
}

.ui-pane-half .pfd-instruments {
  --pfd-instruments-tape-right-inner-x: calc(100% - 129px);
}

.gdu-display-eis-left .ui-pane-half .pfd-instruments,
.gdu-display-eis-right .ui-pane-half .pfd-instruments {
  --pfd-instruments-tape-left-inner-x: 106px;
}

/* ---- Horizon display ---- */

.pfd-instruments .horizon-display {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ---- AFCS status box ---- */

/*
 * The AFCS status box is positioned and sized such that its left and right edges have a 8px margin from the inner
 * edges of the airspeed and altimeter tapes.
 */

.pfd-instruments .afcs-box {
  position: absolute;
  left: calc(var(--pfd-instruments-tape-left-inner-x) + 8px);
  top: -1px;
  width: calc(var(--pfd-instruments-tape-right-inner-x) - var(--pfd-instruments-tape-left-inner-x) - 16px);
  height: 32px;
}

/* ---- Airspeed indicator ---- */

.pfd-instruments .airspeed {
  position: absolute;
  right: calc(100% - var(--pfd-instruments-tape-left-inner-x));
  top: 29px;
}

/* ---- Altimeter ---- */

.pfd-instruments .altimeter {
  position: absolute;
  left: var(--pfd-instruments-tape-right-inner-x);
  top: 29px;
}

/* ---- VSI ---- */

.pfd-instruments .vsi {
  position: absolute;
  left: calc(var(--pfd-instruments-tape-right-inner-x) + 100px);
  top: calc(var(--pfd-instruments-horizon-center-y) - 128px);
}

/* ---- VDI ---- */

.pfd-instruments .vdi {
  position: absolute;
  left: calc(var(--pfd-instruments-tape-right-inner-x) - 20px);
  top: calc(var(--pfd-instruments-horizon-center-y) - 120px);
}

/* ---- Marker Beacon ---- */

.pfd-instruments .marker-beacon {
  position: absolute;
  left: calc(var(--pfd-instruments-tape-right-inner-x) - 33px);
  top: 70px;
}

/* ---- HSI ---- */

.pfd-instruments .hsi {
  position: absolute;
  left: var(--pfd-instruments-horizon-center-x);
  bottom: 146px;
}

/* ---- Bearing information ---- */

.pfd-instruments .bearing-information-display-container {
  position: absolute;
  bottom: 0px;
}

.pfd-instruments .bearing-information-display-container-left {
  left: calc(var(--pfd-instruments-horizon-center-x) - 246px);
}

.pfd-instruments .bearing-information-display-container-right {
  right: calc(100% - (var(--pfd-instruments-horizon-center-x) + 246px));
}

/* ---- Baro minimums display ---- */

.pfd-instruments .baro-minimum-display {
  position: absolute;
  right: calc(100% - var(--pfd-instruments-horizon-center-x) - 248px);
  top: 405px;
}

/* ---- Wind display ---- */

.pfd-instruments .wind-display {
  position: absolute;
  left: calc(var(--pfd-instruments-horizon-center-x) - 248px);
  top: 405px;
}

/* ---- Flap/Trim gauges ---- */

.pfd-instruments .pfd-trim-flap-gauges {
  position: absolute;
  left: calc(var(--pfd-instruments-horizon-center-x) - 248px);
  bottom: 30px;
  height: 192px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.pfd-instruments .flaps-elevator-trim-gauge {
  margin-top: auto;
  margin-bottom: auto;
}

/* ---- Traffic annunciation ---- */

.pfd-instruments .traffic-annunciations {
  position: absolute;
  top: 33px;
  left: calc(var(--pfd-instruments-horizon-center-x) + 47px);
}

.ui-pane-half .pfd-instruments .traffic-annunciations {
  left: calc(var(--pfd-instruments-horizon-center-x) + 15px);
}

/* ---- Insets ---- */

.pfd-instruments .pfd-inset-container {
  position: absolute;
  bottom: 6px;
  font-family: "DejaVuSans-SemiBold";
}

.pfd-instruments .pfd-inset-container-left {
  left: 6px;
}

.pfd-instruments .pfd-inset-container-right {
  right: 6px;
}