.map-settings-popup {
  background: var(--gtc-black-background-gradient);
  border: var(--gtc-black-background-border);
  border-radius: var(--gtc-popup-border-radius);
}

.gtc-horizontal .map-settings-popup {
  --map-settings-popup-font-size-regular: 26px;
  --map-settings-popup-font-size-large: 32px;
}

.gtc-vertical .map-settings-popup {
  --map-settings-popup-font-size-regular: 13px;
  --map-settings-popup-font-size-large: 16px;
}

.map-settings-popup .touch-button {
  font-size: var(--map-settings-popup-font-size-regular);
  white-space: pre;
}

.map-settings-popup .touch-button-value-value {
  font-size: var(--map-settings-popup-font-size-large);
  white-space: pre;
}

/* Setting Sync Init */

.map-settings-sync-init {
  position: absolute;
  background: var(--gtc-black-background-gradient);
  border: var(--gtc-black-background-border);
  border-radius: var(--gtc-popup-border-radius);
  color: var(--g3000-color-white);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.gtc-horizontal .map-settings-sync-init {
  left: calc(50% - 666px / 2);
  top: 350px;
  width: 666px;
  transform: translateY(-50%);
  padding: 20px 40px 40px 40px;
  font-size: 28px;

  --map-settings-sync-init-message-margin-bottom: 25px;

  --map-settings-sync-init-button-height: 145px;
  --map-settings-sync-init-button-row-gap: 35px;
  --map-settings-sync-init-button-col-gap: 45px;
}

.gtc-vertical .map-settings-sync-init {
  left: calc(50% - 350px / 2);
  top: 185px;
  width: 350px;
  transform: translateY(-50%);
  padding: 10px 20px 20px 20px;
  font-size: 14px;

  --map-settings-sync-init-message-margin-bottom: 12px;

  --map-settings-sync-init-button-height: 78px;
  --map-settings-sync-init-button-row-gap: 20px;
  --map-settings-sync-init-button-col-gap: 25px;
}

.map-settings-sync-init-message {
  width: 100%;
  margin-bottom: var(--map-settings-sync-init-message-margin-bottom);
  text-align: center;
}

.map-settings-sync-init-button-container {
  position: relative;
  display: grid;
  grid-auto-rows: var(--map-settings-sync-init-button-height);
  grid-template-columns: 1fr 1fr;
  grid-row-gap: var(--map-settings-sync-init-button-row-gap);
  grid-column-gap: var(--map-settings-sync-init-button-col-gap);
}

.map-settings-sync-init .touch-button.map-settings-sync-init-button {
  font-size: 1.3em;
}

/* TAWS Settings */

.map-taws-settings {
  position: absolute;
  left: calc(50% - var(--map-taws-settings-width) / 2);
  top: var(--map-taws-settings-top);
  width: var(--map-taws-settings-width);
  height: var(--map-taws-settings-height);
  padding: var(--map-taws-settings-padding);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.gtc-horizontal .map-taws-settings {
  --map-taws-settings-top: 60px;
  --map-taws-settings-width: 355px;
  --map-taws-settings-height: 705px;
  --map-taws-settings-padding: 10px 0 40px 0;

  --map-taws-settings-inhibit-button-font-size: 36px;
  --map-taws-settings-inhibit-button-width: 260px;
  --map-taws-settings-inhibit-button-height: 165px;

  --map-taws-settings-settings-button-width: 148px;
  --map-taws-settings-settings-button-height: 106px;
}

.gtc-vertical .map-taws-settings {
  --map-taws-settings-top: 30px;
  --map-taws-settings-width: 190px;
  --map-taws-settings-height: 378px;
  --map-taws-settings-padding: 5px 0 20px 0;

  --map-taws-settings-inhibit-button-font-size: 18px;
  --map-taws-settings-inhibit-button-width: 140px;
  --map-taws-settings-inhibit-button-height: 88px;

  --map-taws-settings-settings-button-width: 80px;
  --map-taws-settings-settings-button-height: 60px;
}

.touch-button.map-taws-settings-inhibit-button {
  width: var(--map-taws-settings-inhibit-button-width);
  height: var(--map-taws-settings-inhibit-button-height);
  font-size: var(--map-taws-settings-inhibit-button-font-size);
}

.map-taws-settings-settings-button {
  width: var(--map-taws-settings-settings-button-width);
  height: var(--map-taws-settings-settings-button-height);
}

/* Terrain Settings */

.map-terrain-settings {
  position: absolute;
  left: calc(50% - var(--map-terrain-settings-width) / 2);
  top: calc(50% - var(--map-terrain-settings-height) / 2);
  width: var(--map-terrain-settings-width);
  height: var(--map-terrain-settings-height);
  padding: var(--map-terrain-settings-padding);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.gtc-horizontal .map-terrain-settings {
  --map-terrain-settings-width: 380px;
  --map-terrain-settings-height: 460px;
  --map-terrain-settings-padding: 60px 45px;
  --map-terrain-settings-button-height: 155px;
}

.gtc-vertical .map-terrain-settings {
  --map-terrain-settings-width: 204px;
  --map-terrain-settings-height: 248px;
  --map-terrain-settings-padding: 30px 22px;
  --map-terrain-settings-button-height: 84px;
}

.map-terrain-settings-button {
  height: var(--map-terrain-settings-button-height);
}

/* Airspace Settings */

.map-airspace-settings {
  position: absolute;
  left: calc(50% - var(--map-airspace-settings-width) / 2);
  top: var(--map-airspace-settings-top);
  width: var(--map-airspace-settings-width);
  height: var(--map-airspace-settings-height);
  padding: var(--map-airspace-settings-padding);
  grid-column-gap: var(--map-airspace-settings-column-gap);
  grid-row-gap: var(--map-airspace-settings-row-gap);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.gtc-horizontal .map-airspace-settings {
  --map-airspace-settings-top: 45px;
  --map-airspace-settings-width: 650px;
  --map-airspace-settings-height: 705px;
  --map-airspace-settings-padding: 30px 40px;
  --map-airspace-settings-column-gap: 45px;
  --map-airspace-settings-row-gap: 20px;
}

.gtc-vertical .map-airspace-settings {
  --map-airspace-settings-top: 25px;
  --map-airspace-settings-width: 350px;
  --map-airspace-settings-height: 380px;
  --map-airspace-settings-padding: 15px 20px;
  --map-airspace-settings-column-gap: 25px;
  --map-airspace-settings-row-gap: 10px;
}

/* Airport Settings */

.map-airport-settings {
  position: absolute;
  left: calc(50% - var(--map-airport-settings-width) / 2);
  top: calc(50% - var(--map-airport-settings-height) / 2);
  width: var(--map-airport-settings-width);
  height: var(--map-airport-settings-height);
  padding: var(--map-airport-settings-padding);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.gtc-horizontal .map-airport-settings {
  --map-airport-settings-width: 380px;
  --map-airport-settings-height: 610px;
  --map-airport-settings-padding: 45px;
  --map-airport-settings-button-height: 155px;
}

.gtc-vertical .map-airport-settings {
  --map-airport-settings-width: 204px;
  --map-airport-settings-height: 330px;
  --map-airport-settings-padding: 22px;
  --map-airport-settings-button-height: 84px;
}

.map-airport-settings-button {
  height: var(--map-airport-settings-button-height);
}

/* VOR Settings */

.map-vor-settings {
  position: absolute;
  left: calc(50% - var(--map-vor-settings-width) / 2);
  top: calc(50% - var(--map-vor-settings-height) / 2);
  width: var(--map-vor-settings-width);
  height: var(--map-vor-settings-height);
  padding: var(--map-vor-settings-padding);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.gtc-horizontal .map-vor-settings {
  --map-vor-settings-width: 380px;
  --map-vor-settings-height: 460px;
  --map-vor-settings-padding: 60px 45px;
  --map-vor-settings-button-height: 155px;
}

.gtc-vertical .map-vor-settings {
  --map-vor-settings-width: 204px;
  --map-vor-settings-height: 248px;
  --map-vor-settings-padding: 30px 22px;
  --map-vor-settings-button-height: 84px;
}

.map-vor-settings-button {
  height: var(--map-vor-settings-button-height);
}