.flight-director-absolute {
  position: absolute;
}

.minimums-flag {
  position: absolute;
  width: 56px;
  height: 38px;
  left: 325px;
  top: 152px;
  background: black;
  border: 3px solid var(--wt21-colors-yellow);
  color: var(--wt21-colors-yellow);
  font-size: 28px;
  text-align: center;
  line-height: 42px;
  box-shadow: inset 1px 1px 2px black, 1px 1px 1px black;
}

.mins-flash {
  animation: flasher .75s step-start 5;
}

@keyframes flasher {

  50% {
    opacity: 0;
  }
}