.pfd-map-view {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: var(--g3x-color-white);
}

.pfd-map-view-touch-pad {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.pfd-nav-map {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: rotateX(0deg);
  overflow: hidden;
}

.pfd-nav-map .map-range-target-control::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: solid 4px var(--g3x-color-focus-blue);
  box-shadow: inset 0 0 1px 1px var(--g3x-color-focus-blue);
  border-radius: 2px;
  pointer-events: none;
}