.gps-agl-altitude-container {
  position: absolute;
  left: 730px;
  width: 170px;
  top: 679px;
  height: 30px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 60px 53px 53px;
  padding-top: 2px;
  padding-bottom: 2px;
  /** to stay on top of the XPDR component */
  z-index: 21;
}

.gps-agl-altitude-container>div {
  align-self: end;
}

.gps-agl-alt-readout.highlight-purple {
  color: magenta;
  background-color: none;
}

.gps-agl-alt-readout.highlight-black {
  color: black;
  background-color: white;
}