.speed-info {
  position: relative;
  color: var(--g3000-color-white);
}

.speed-info-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.speed-info-tas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50%;
}

.speed-info-gs {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: 50%;
}

.speed-info.dead-reckoning .speed-info-gs {
  color: var(--g3000-color-yellow);
}

.speed-info-title {
  font-size: 0.7em;
}