.gtc-horizontal .flight-plan-data-fields-box {
  --flight-plan-data-fields-box-height: 130px;
  --flight-plan-data-fields-box-font-size: 38px;
  --flight-plan-data-fields-box-line-height: 52px;
  --flight-plan-data-fields-box-padding-top: 22px;
  --flight-plan-data-fields-box-padding-right: 8px;
}

.gtc-vertical .flight-plan-data-fields-box {
  --flight-plan-data-fields-box-height: 68px;
  --flight-plan-data-fields-box-font-size: 22px;
  --flight-plan-data-fields-box-line-height: 28px;
  --flight-plan-data-fields-box-padding-top: 10px;
  --flight-plan-data-fields-box-padding-right: 3px;
}

.flight-plan-data-fields-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: center;
  flex-grow: 1;
  height: var(--flight-plan-data-fields-box-height);
  color: var(--g3000-color-white);
  font-size: var(--flight-plan-data-fields-box-font-size);
  line-height: var(--flight-plan-data-fields-box-line-height);
  padding-top: var(--flight-plan-data-fields-box-padding-top);
  padding-right: var(--flight-plan-data-fields-box-padding-right);
}

.active-leg .flight-plan-data-fields-box {
  color: var(--g3000-color-magenta);
}

.flight-plan-data-fields-box .unit {
  font-size: 0.75em;
}

.flight-plan-data-fields-box .time-sec {
  display: none;
}