.map-indicator-group-top-left {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  transform: rotateX(0);
}

.map-indicator-group-top-right {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  transform: rotateX(0);
}

.map-indicator-group-bottom-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  transform: rotateX(0);
}

.map-indicator-group-bottom-right {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: flex-end;
  transform: rotateX(0);
}

.map-scale-bar-detail-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.map-status-indicator-container {
  display: flex;
}