.touch-list {
  position: relative;
  /* These vars get overriden in TouchList.tsx. */
  --touch-list-height: 100px;
  --touch-list-item-margin: 2px;
  --touch-list-item-height: 134px;
  height: var(--touch-list-height);
}

.touch-list .touch-list-translatable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.touch-list .items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.touch-list .items-container>* {
  margin-bottom: var(--touch-list-item-margin);
}