.facility-duplicates-dialog {
  width: 100%;
  max-width: 559px;
  height: 610px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.facility-duplicates-dialog .facility-duplicates-dialog-entry {
  width: 100%;
  height: 92px;

  font-size: 20px;
}

.facility-duplicates-dialog .facility-duplicates-dialog-list {
  width: 100%;
  height: 100%;
}
