.waypoint-vor-location {
  color: var(--gnscyan);
  padding-top: 5px;
  left: 10px;
  margin-left: 1px;
}

wt-gns530 .waypoint-vor-location {
  width: 244px;
}

wt-gns430 .waypoint-vor-location {
  width: 100%;
}

.waypoint-vor-location>div {
  color: var(--gnsgreen);
  background-color: black;
  font-size: var(--gns-font-page-data);
  border: .8px solid var(--gnscyan);
  position: relative;
  margin-left: -1px;
  line-height: 19px;
}

wt-gns530 .waypoint-vor-location>div {
  height: 57px;
  padding: 1px;
}

wt-gns430 .waypoint-vor-location>div {
  height: 60px;
  padding: 2px;
}

.waypoint-vor-position {
  color: var(--gnscyan);
  padding-top: 10px;
  left: 10px;
  margin-left: 1px;
  float: left;
}

wt-gns530 .waypoint-vor-position {
  width: 113px;
}

wt-gns430 .waypoint-vor-position {
  width: 136px;
}

.waypoint-vor-position>div {
  color: var(--gnsgreen);
  background-color: black;
  font-size: var(--gns-font-page-data);
  border: .8px solid var(--gnscyan);
  margin-left: -1px;
}

wt-gns530 .waypoint-vor-position>div {
  height: 35px;
  padding: 1px;
}

wt-gns430 .waypoint-vor-position>div {
  height: 40px;
  padding: 2px;
}

.waypoint-vor-position>div>.latlon-coord {
  font-size: var(--gns-font-page-data);
  text-align: right;
}

wt-gns530 .waypoint-vor-position>div>.latlon-coord {
  padding-right: 12px;
}

wt-gns430 .waypoint-vor-position>div>.latlon-coord {
  padding-right: 9px;
}

.waypoint-vor-freq {
  color: var(--gnscyan);
  padding-top: 10px;
  margin-left: 1px;
}

wt-gns530 .waypoint-vor-freq {
  width: 65px;
  float: left;
}

wt-gns430 .waypoint-vor-freq {
  width: 85px;
  float: right;
}

.waypoint-vor-freq>div {
  color: var(--gnsgreen);
  background-color: black;
  font-size: var(--gns-font-page-data);
  margin-left: -1px;
  display: flex;
}

wt-gns530 .waypoint-vor-freq>div {
  border-top: .8px solid var(--gnscyan);
  border-bottom: .8px solid var(--gnscyan);
  height: 35px;
  padding: 1px;
  align-items: center;
  justify-content: center;
}

wt-gns430 .waypoint-vor-freq>div {
  border: .8px solid var(--gnscyan);
  height: 40px;
  padding: 2px;
  justify-content: center;
}

.waypoint-vor-wxbrdcst {
  color: var(--gnscyan);
  padding-top: 10px;
  width: 65px;
  float: left;
  margin-left: 1px;
}

.waypoint-vor-wxbrdcst>div {
  color: var(--gnsgreen);
  background-color: black;
  font-size: var(--gns-font-page-data);
  border: .8px solid var(--gnscyan);
  height: 35px;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waypoint-vor-var {
  color: var(--gnscyan);
  position: relative;
  left: 180px;
  width: 87px;
  height: 21px;
}

wt-gns530 .waypoint-vor-var {
  top: -20px;
  left: 156px;
}

wt-gns430 .waypoint-vor-var {
  top: -21px;
  left: 180px;
  border: .8px solid var(--gnscyan);
}

.waypoint-vor-var>span {
  position: absolute;
  color: var(--gnscyan);
}

wt-gns530 .waypoint-vor-var>span {
  left: 17px;
  top: 6px;
}

wt-gns430 .waypoint-vor-var>span {
  left: 2px;
  top: 4px;
}

.waypoint-vor-var>div {
  position: absolute;
  top: 2px;
  right: 1px;
  color: var(--gnsgreen);
  background-color: black;
  font-size: var(--gns-font-page-data);
  line-height: 17px;
}