.vertical-deviation-source {
  position: absolute;
  display: flex;
  top: 315px;
  left: 480px;
  width: 48px;
  height: 22px;
  justify-content: center;
}

.vertical-deviation-source .deviation-source-text {
  font-size: 21px;
  color: var(--epic2-color-white);
}
